<section>
    <div class="container" >

        <div class="row">
            <div class="col-lg-3">
        <div class="container-content p-3 mb-2">
            <div class="d-flex justify-content-between ">
                <p class="head-text">Total Administrators</p>
                <img src="/assets/Images/total-sales.png" alt="">
            </div>
            <h3 class="head-count">{{summary?.totalAdmins || 0 | number:'1.0-0'}}</h3>
            <p class="head-brief">+{{summary?.newAdminsLast7Days || 0 | number:'1.0-0'}} Last 7 days</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="container-content p-3 mb-2">
            <div class="d-flex justify-content-between ">
                <p class="head-text">New Administrators</p>
<img src="/assets/Images/orders.png" alt="">
            </div>
            <h3 class="head-count">{{summary?.newVendorsToday || 0 | number:'1.0-0'}}</h3>
            <p class="head-brief">+{{summary?.newAdminsToday || 0 | number:'1.0-0'}} Today</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="container-content p-3 mb-2">
            <div class="d-flex justify-content-between ">
                <p class="head-text">Active Administrators</p>
                <img src="/assets/Images/stocks.png" alt="">
            </div>
            <h3 class="head-count">{{summary?.activeAdmins || 0 | number:'1.0-0'}}</h3>
            <p class="head-brief">in the last 90 days</p>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="container-content p-3 MB-2">
            <div class="d-flex justify-content-between ">
                <p class="head-text">Inactive Administrators</p>
<img src="/assets/Images/pending.png" alt="">
            </div>
            <h3 class="head-count">{{summary?.inactiveAdmins || 0 | number:'1.0-0'}}</h3>
            <p class="head-brief">in the last 90 days</p>
        </div>
    </div>
    

        </div>
    </div>
</section>



<section class="container">
          <section class="content" *ngIf="summaryLoading && !summary && !errorFetchingProduct">
<div class="py-5 p-5 center">
    <div>

        <img src="/assets/Images/requestLoading.gif" alt="">
        <p class="loading-text text-center text-muted">Loading...</p>
    </div>
</div>
      </section >

      <section class="content center" *ngIf="!loading && !admins && errorLoading">
        <div class="py-5 ">
          <div class="py-3 text-center" >
            <img src="/assets/Images/oops.png" style="height: 200px;" alt="">
            <p class="loading-text  text-muted py-3">Could not display stats. Click 'Refresh' to try again.
        </p>
            <p class="refresh" (click)="getAllUsers()">Refresh <i class="bi bi-arrow-repeat"></i></p>
          </div>
        </div>
      </section>
     
     
       <div class="container bg-white">

        <div class="row px-3 py-3">
   
   
   <div class="col-lg-5 ">
         <div class="search-wrapper">
       <div class="search-box d-flex align-items-center">
           <i class="bi bi-search search-icon"></i>
           <input [(ngModel)]="search" (keyup.enter)="getAllUsers()" type="text" class="form-control search-input" placeholder="Search here...">
           
           <div class="d-flex align-items-center">
               <button [disabled]="loading" (click)="getAllUsers()" class="btn search-button">
                   Search
               </button>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <div *ngIf="search">
                   <i title="Reset search" (click)="search = '';getAllUsers();" 
                      class="bi bi-arrow-clockwise ms-2" 
                      style="font-size: 20px; color: var(--theme-color1); cursor: pointer;">
                   </i>
               </div>
           </div>
       </div> 
   </div>
   
   </div>
   
   
        
                          <div class="col-lg-7 text-end" *ngIf="admins?.length > 0">
                       <p (click)="exportToExcel()" class="btn export">Export</p>
                     </div>
         </div>
      </div>
      <div class="table-responsive" *ngIf="!loading && this.admins?.length > 0">
          <table class="table" style="overflow-y: auto;">
            <thead>
              <tr>
                <th> ID</th>
                <th>Name</th>
                <!-- <th>Orders</th>
                <th>Total Spent</th> -->
                <th>Reg. Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of admins| paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalCount }; let i = index">
                <td class="text-primary" style="font-size: 15px; font-weight: 500;">
                    {{item?._id}}
                </td>
               
                <td>{{item?.firstName}} {{item?.lastName}}</td>
                <!-- <td>{{ 20 | number:'1.0-0'}}</td> -->
                <!-- <td>{{item?.totalPrice || 0 | currency:'₦':true:'1.0-0'}}</td> -->
                 <td>{{ item?.createdAt | date: 'MMM d, y hh:mm a' }}</td>
               <td >
               <small [ngClass]="{'cancelled': item?.blocked, 'completed': !item?.blocked}">
  {{ item?.blocked ? 'Inactive' : 'Active' }}
</small>


                <!-- <td>
                <span (click)="toggleModal('orderDetailsModal', 'open', item)" class="view-call text-decoration-underline text-primary cursor-pointer fw-bold">View</span>
                </td> -->
                    <td>
                 <div class="dropdowns">
            <img src="/assets/Images/dots (2).png" class="Pencil">
            <div class="dropdown-content p-2">
              <!-- <a (click)="toggleModal('vendorModal', 'open')" class="dropdown-item" style="cursor: pointer;"><img class="border-right p-2 mr-2" src="/assets/img/edit.png" alt=""> View Vendor</a> -->
              <a class="dropdown-item border-bottom" style="cursor: pointer;">View Admin</a>
              <!-- <a class="dropdown-item border-bottom text-danger" (click)="deactivate(item)" style="cursor: pointer;">Deactivate Customer</a> -->
              <a class="dropdown-item border-bottom text-danger" (click)="deleteUser(item)" style="cursor: pointer;">Delete</a>
            </div>
          </div>
                </td>
              </tr>
            </tbody>
           
          </table> 
          <pagination-controls previousLabel=""
      nextLabel=""(pageChange)="onPageChange($event)"></pagination-controls>                   
      </div>

      
       <section class="content center" *ngIf="!loading && this.admins?.length === 0">
        <div class="py-5 ">
          <div class="py-3 text-center" >
            <img src="/assets/Images/product-cat.png" style="height: 100px;" alt="">
            <div class=" py-5">

              <p class="loading-text  text-muted">No Admin found 
          </p>
            </div>
          </div>
        </div>
      </section>

      <section class="content" *ngIf="loading">
<div class="py-5 p-5 center">
<div>

<img src="/assets/Images/requestLoading.gif" alt="">
<p class="loading-text text-center text-muted">Loading...</p>
</div>
</div>
</section >

</section>


