
  <div class="pageRow row align-items-center mb-3 px-2">
        <div class="col-sm-6">
          <div class="page-name mt-2">All Notifications</div>

        </div>
        <div class="col-sm-6">
            <div class="d-none d-lg-block">
                <div class="btn-container">
                  <button class="add"  routerLink="/core/admin/send-notification"> Send Notification</button>
                </div>
            </div>
        </div>
      </div>

      
<div class="wrapper  p-lg-3">
<div *ngIf="!loadingNotifications && notifications">
      <div class="">
      <div class=" p-3" >
  <div
  *ngFor="let event of notifications | paginate: { itemsPerPage: 20, currentPage: p, totalItems: totalCount }; let i = index"
  class="d-flex flex-column p-2 mb-3 notification-row"
  [ngClass]="{ 'unread-notification': !event?.read, 'read-notification': event?.read }"
  (click)="toggleDetails(i)"
>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mr-4">
      <p style="margin-bottom: 5px !important; font-size: 15px;">
        {{ event?.message }}
      </p>
      <small class="d-block" style="color: var(--theme-color3); font-size: 13px;">
        <span [ngClass]="{ 'fw-bold': !event?.read, 'text-muted': event?.read }">{{ event?.read ? 'Read' : 'Unread' }}</span> - {{ formatTimestamp(event?.timestamp) }}
      </small>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
        <path
          d="M5 14.5C6.10457 14.5 7 13.6046 7 12.5C7 11.3954 6.10457 10.5 5 10.5C3.89543 10.5 3 11.3954 3 12.5C3 13.6046 3.89543 14.5 5 14.5Z"
          fill="#B2B2B2"
        />
        <path
          d="M12 14.5C13.1046 14.5 14 13.6046 14 12.5C14 11.3954 13.1046 10.5 12 10.5C10.8954 10.5 10 11.3954 10 12.5C10 13.6046 10.8954 14.5 12 14.5Z"
          fill="#B2B2B2"
        />
        <path
          d="M19 14.5C20.1046 14.5 21 13.6046 21 12.5C21 11.3954 20.1046 10.5 19 10.5C17.8954 10.5 17 11.3954 17 12.5C17 13.6046 17.8954 14.5 19 14.5Z"
          fill="#B2B2B2"
        />
      </svg>
    </div>
  </div>
  
  <!-- Detail Section -->
  <div *ngIf="selectedIndex === i" class="notification-detail mt-2 px-4 shadow-sm slideLeft">
    <div class="py-3">
      <p>{{ event?.details }}</p>

    </div>
  </div>
</div>

                            <pagination-controls *ngIf="notifications" (pageChange)="onPageChange($event);">
                            </pagination-controls>

      
      </div>
    </div>
    </div>
    <div *ngIf="loadingNotifications && !notifications"><img  class="d-block mx-auto" src="/assets/img/Ellipsis-0.7s-200px.svg" height="120" alt=""></div>
    
    <div *ngIf="!loadingNotifications && !notifications && errorFetching">
        <img src="/assets/img/Group-2 copy.png" height="150" class="d-block mx-auto mb-4" alt="">
        <h4 class="text-center mb-4">
            Notifications could not be fetched, click <span (click)="getNotifications()" style="cursor: pointer; color: blue;">here</span> to try again
        </h4>
    </div>
</div>
