
.unread-notification {
  background-color: #FDF4ED;
   border-radius: 6px;
  border: 0.5px solid #E0E0E0;
  cursor: pointer;
}

.read-notification {
  background-color: #FAFAFA;
   border-radius: 6px;
  border: 0.5px solid #E0E0E0;
  cursor: pointer;


}
 .notification-detail{
    background-color: white!important;
    display: flex;
    align-items: center;
    border: 1px solid var(--theme-color3);
    border-radius: 8px;
  }
@media (max-width: 700px) {

}
/* Accordion styles */
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
.tabs {
    border-radius: 8px;
    overflow: hidden;
  }
  .tab {
    width: 100%;
    overflow: hidden;
    &-label {
      cursor: pointer;
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      transition: all .75s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      cursor: pointer;
    }
  }
  
  // :checked
  input:checked {
    + .tab-label {
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: max-content;
      padding: 1em;      
    }
  }
  label{
    display: block !important;
    margin-bottom: 0 !important;
  }
  .showLargeScreen{
      display: none;
  }

  @media only screen and (min-width:1000px){
    .showLargeScreen{
        display: block;
    }
  }
  p{
    margin-bottom: 0px !important;
  }