<!-- <app-auth-header></app-auth-header> -->


<section class="auth">
    <div class="row mobile-only">
        <div class="col-lg-6" style="background-image: url(/assets/Images/login-image.jpg);">
            <div class="p-5">
                <img routerLink="" style="height: 45px;" src="/assets/Images/Color=White.png" alt="">
                
            </div>
        </div>
        <div class="col-lg-6">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <section style="height: 100vh; display: flex; justify-content: center; align-items: center;">
            
                <div class="card-forget shadow-md-lg shadow-xl-xl p-5">

                    <div class="py-lg-5">
                        <div class="mb-5"  style="display: flex; justify-content: center;">

                            <img routerLink="" class="d-none d-lg-block" style="height: 50px;" src="/assets/Images/logo.png" alt="">
                        </div>
                        <div class="text-lg-center mt-2">
                            <h1 class="headings  slide-top">
                                <span style="color:var(--primary-color);">Forgot</span>&nbsp;<span style="color: black!important;"></span>Your Password?
                            </h1>
                            <p class="text-muted">Enter in your registered email address to reset password</p>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="forgetPassword()" class="">
                            <div class="">
                                <div class="">
                        
                                    <label for=""  class="px-2 mb-1{{
                                        isInvalid('email') ? 'red' : ''
                                      }}">Email Address</label>
                                    <div class="auth-input slide-left">
                                        <i class="bi bi-envelope"></i>
                                       
                                        <input type="text" class="auth {{
                                            isInvalid('email') ? 'error-input' : ''
                                          }}" aria-label="Email Address" aria-describedby="basic-addon1" formControlName="email" [ngClass]="{ 'is-invalid': isInvalid('email') }" placeholder="example@gmail.com" aria-label="Email" aria-describedby="basic-addon1">
                                        <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('email')">
                                            {{ getErrorMessage('email', 'Email is required') }}
                                          </div>
                                          <div class="invalid-feedback mb-4 px-3" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']">
                                            Please enter a valid email address
                                        </div>
                                      
                                    </div>
                                    <button class="submit mt-3" type="submit">Reset</button>
                
            
                
                                </div>
                            </div>
                        </form>
                        <p class="text-center sign mt-3">New to Supplya? <a style="color: var(--primary-color); font-size: 16px;" routerLink="/auth/sign-up">Sign Up here</a></p>

                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-3"></div>
    </div>
</section>

