.headings{
    font-size: 30px;
    font-weight: 800!important;
    // color:var(--primary-color);
    }

.auth input {
    height: 50px;
    // padding: 17 144 17 25.4375;
    border-radius: 35px;
    width: 100%;   
}
.auth label{
font-size: 14px;
font-weight: 500;
line-height: 22px;
color: black;

}
.auth-input {
    position: relative;
    margin-bottom: 20px;
}
.card-forget{
    border-radius: 30px;
    border: 1px solid #E8E8E8
    
}
.auth-input input {
    height: 50px;
    padding: 17px 40px 17px 50px; /* Adjusted padding */
    border-radius: 35px;
    border: 1px solid #ccc;
    outline: none;
}

.sign{
    font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.20000000298023224px;    
}

@media (max-width: 992px) {
    .contain {
        padding: 30px!important;
    }
    .headings{
        font-size: 26px;
        text-align: left;
        font-weight: 900;
    }
    .card-forget{
        border: none;
    }
    .auth section{
        height: 80vh!important;
    }
}
.auth-input input:focus {
    border-color: #3f51b5;
    padding: 17px 40px 17px 50px;
}

i{
font-size: 20px;
}
.auth-input i {
    position: absolute;
    left: 15px;
    top: 50%; 
    transform: translateY(-50%);
}
.auth-input i:focus {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.auth-input button {
    position: absolute;
    right: 30px;
    top: 50%;
    border: none !important;
    transform: translateY(-50%);
}
.auth-input button:focus {
    position: absolute;
    right: 30px;
    top: 50%;
    border: none !important;
    box-shadow: none !important;
    transform: translateY(-50%);
}
.auth .submit{
height: 50px;  
width: 100%;
border-radius: 50px;
background-color: var(--primary-color);
font-size: 16px;
font-weight: 600;
color: #FFFFFF;
letter-spacing: -0.2px;

}

.invalid-feedback {
    position: absolute;
    font-size: 14px;
    color: red;
}

.auth-input input:focus {
    border-color: #3f51b5;
}