.head-text{
font-family: Open Sans;
font-size: 14.7px;
font-weight: 400;
color: #777980;


}
.head-count{
font-family: Open Sans;
font-size: 29.39px;
font-weight: 600;
color: #1D1F2C;


}
.orders-section{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-color: white;
    box-shadow: 0px 3.67px 27.54px 0px #2E2D740D;
border: 0.92px solid #F0F1F3
}
.head-brief{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
color: var(--primary-color);

}
.container-content{
    box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
background-color: white !important;
border-radius: 11px;
// height: 135px;
}

.prod-image {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.vendor {
  color: var(--primary-color);
}

.prod-name {
  font-size: 14px;
  font-weight: 500;
}

.prod-amount {
 font-size: 15px;
  font-weight: 600;
}
.head-title{
font-size: 18px;
font-weight: 600;
letter-spacing: 0.005em;

}
.year-selection select{
    box-shadow: 0px 3.67px 27.54px 0px #2E2D740D;
border: 0.92px solid #959698;
border-radius: 11px;
padding: 10px;
}
.year-selection label{
font-size: 15px;
font-weight: 500;
}

@media (max-width: 991.98px) {
#MySalesLineChart{
    height: 200px!important;
}
}
.chart-canvas {
  width: 100%;
}

@media (max-width: 767.98px) {
  .chart-canvas {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .chart-canvas {
    height: 60vh !important;
    width: 100%!important;
  }
}
