<app-navbar></app-navbar>

<app-no-data-available  [visible]="!cart || !cart.items.length" notFoundMessage="Your cart is currently empty."
resetLink="RETURN TO SHOP"></app-no-data-available>


<section class="" style="display: flex; justify-content: center;" *ngIf="cart && cart.items.length">


  <div class="container  cart">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <app-breadcrumb currentPageLink="Shopping Cart" previousLink="Shop"></app-breadcrumb>
        <div class="row py-5">
 <!-- Cart Items Column -->
<div class="col-lg-8">
  <h4 class="mb-4">Cart Items ({{cart.items.length}})</h4>

  <!-- Product Items -->
  <div class="mb-2 border-bottom" *ngFor="let item of cart.items">
    <!-- Product Container -->
    <div class="d-flex ">
      <!-- Product Image Column -->
      <div class="flex-shrink-0 img-sec">
        <div class="image-container" style="height: 100%;">
          <img src="/assets/Images/Rectangle 134.png" alt="Product Image" class="img-fluid  h-100">
        </div>
      </div>
      <!-- Product Details -->
      <div class="flex-grow-1 p-3 cart-contain">
        <!-- First Row: Product Name and Remove Icon -->
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="mb-1">{{item.product.name}}</h5>
            <p  class="mb-1 ">Seller: <span class="text-primary">{{item.product?.createdBy?.storeUrl}}</span></p>
            <p class="mb-1">SKU: <span>{{item?.product?.sku}}</span></p>
          </div>
          <div class="text-center">
            <button class="btn" style="font-size: 25px;" title="Remove this item" (click)="removeFromCart(item)">X</button>
            <p class="mt-2" style="font-size: 20px; font-weight: 400;">{{item.price || 0 | currency: '₦' :'symbol':'1.0-0'}}</p>
          </div>
        </div>
        <!-- Second Row: Controls, Unit Price, and Product Status -->
        <div class="d-flex justify-content-between align-items-center">
          <!-- Controls -->

           <div class="quantity-control">
          <button (click)="changeQuantity(-1, item)" class="">-</button>
          <span class="quantity" [(ngModel)]="item.quantity">{{ item.quantity }}</span>
          <button (click)="changeQuantity(1, item)" class=" ">+</button>
        </div>
          <!-- <div class="d-flex align-items-center">
            <button (click)="changeQuantity(-1, item)" class="quantity-button">-</button>
            <input type="number" [(ngModel)]="item.quantity" readonly class="quantity-input no-border-padding form-control mx-2">
            <button (click)="changeQuantity(1, item)" class="quantity-button">+</button>
          </div> -->
          <!-- Unit Price -->
          <div>
            <p class="mb-0  text-primary" style="font-size: 16px; font-weight: 500;">{{item.product.unit_price || 0 | currency: '₦' :'symbol':'1.0-0'}} / Per item</p>
          </div>
          <!-- Product Status -->
          <div>
            <p [ngClass]="{ 'stock': item.product?.status === 'inStock', 'text-danger': item.product?.status !== 'inStock' }" class="mb-0 ">{{item.product?.status === 'inStock' ? 'In Stock' : 'Out of Stock'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end clear-section mb-3">
    <button class="btn" (click)="clearCart()">Clear Cart</button>
  </div>
</div>



          <!-- Cart Totals Column -->
          <div class="col-lg-4 text-center">
            <h4 class="heading mb-5"></h4>

            <div class="card shadow-0 border total">

              <div class="card-body">


                <div class="d-flex justify-content-between border-bottom mt-4">
                  <p class="mb-2 heading"> Total Count:</p>
                  <!-- <p class="mb-2 heading">Sub Total:</p> -->
                  <p class="mb-2 cartItemPrice">{{cart.totalCount | number}}</p>
                </div>

                <!-- <hr style="margin: 10px;"/> -->
                <div class="d-flex justify-content-between border-bottom mt-4">
                  <p class="mb-2 heading">Total Price:</p>
                  <h5 class="mb-2  cartItemPrice">{{cart.totalPrice || 0 | currency: '₦' :'symbol':'1.0-0'}}</h5>
                </div>

                <p class=" ship-text py-3">Shipping & taxes calculated at checkout</p>
                <div class="mt-3">
                  <a class="btn  w-100 shadow-0 mb-2 proceed" (click)="checkoutRoute()"> Proceed to Checkout
                  </a>

                </div>
              </div>
            </div>

          

          </div>
        </div>
      </div>
      <!-- <div class="col-lg-1"></div> -->
    </div>

  </div>
</section>


<app-footer></app-footer>