<app-navbar></app-navbar>

<app-no-data-available  [visible]="!cart || !cart.items.length" notFoundMessage="Your cart is currently empty."
resetLink="RETURN TO SHOP"></app-no-data-available>


<section class="" style="display: flex; justify-content: center;" *ngIf="cart && cart.items.length">


  <div class="container  cart">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <app-breadcrumb currentPageLink="Shopping Cart" previousLink="Shop"></app-breadcrumb>
        <div class="row py-5">
 <!-- Cart Items Column -->
<div class="col-lg-8">
  <h4 class="mb-4">Cart Items ({{cart.items.length}})</h4>

  <!-- Product Items -->
  <div class="mb-2 border-bottom" *ngFor="let item of cart.items">
    <!-- Product Container -->
    <div class="d-flex ">
      <!-- Product Image Column -->
      <div class="flex-shrink-0 img-sec">
        <div class="image-container border" style="height: 100%;">
          <img [src]="item?.product?.image" alt="Product Image" class="img-fluid  h-100">
        </div>
      </div>
      <!-- Product Details -->
      <div class="flex-grow-1 p-3 cart-contain">
        <!-- First Row: Product Name and Remove Icon -->
        <div class="d-flex justify-content-between">
          <div>
            <h5 class="mb-1 me-4">{{item.product.name}}</h5>
            <p  class="mb-1 ">Seller: <span class="text-primary">{{item.product?.createdBy?.storeUrl}}</span></p>
            <p class="mb-1">SKU: <span>{{item?.product?.sku}}</span></p>
          </div>
          <div class="text-center">
            <button class="btn text-danger" style="font-size: 17px; font-weight: 500;" title="Remove this item" (click)="removeFromCart(item)">Remove</button>
            <p class="mt-2" style="font-size: 20px; font-weight: 400;">{{item.price || 0 | currency: '₦' :'symbol':'1.0-0'}}</p>
          </div>
        </div>
        <!-- Second Row: Controls, Unit Price, and Product Status -->
        <div class="d-flex justify-content-between align-items-center">
          <!-- Controls -->

           <div class="quantity-control">
          <button (click)="changeQuantity(-1, item)" class="">-</button>
          <span class="quantity" [(ngModel)]="item.quantity">{{ item.quantity }}</span>
          <button (click)="changeQuantity(1, item)" class=" ">+</button>
        </div>
       
          <!-- Unit Price -->
          <div>
            <p class="mb-0  text-primary" style="font-size: 16px; font-weight: 500;">{{item.product.unit_price || 0 | currency: '₦' :'symbol':'1.0-0'}} / Per item</p>
          </div>
          <!-- Product Status -->
          <div>
            <p [ngClass]="{ 'stock': item.product?.status === 'inStock', 'text-danger': item.product?.status !== 'inStock' }" class="mb-0 ">{{item.product?.status === 'inStock' ? 'In Stock' : 'Out of Stock'}}</p>
          </div>
        </div>
         <!-- MOQ Message -->
      <!-- <div *ngIf="item.product.moq > item.quantity" class="text-danger">
        The minimum order quantity is {{item.product.moq}}
      </div> -->
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end clear-section mb-3">
    <!-- <button class="btn" (click)="clearCart()">Clear Cart</button> -->
  </div>
</div>



          <!-- Cart Totals Column -->
          <div class="col-lg-4 text-center">
            <h4 class="heading mb-5"></h4>

            <div class="card shadow-0 border total">

              <div class="card-body">


                <div class="d-flex justify-content-between border-bottom mt-4">
                  <p class="mb-2 heading"> Total Count:</p>
                  <!-- <p class="mb-2 heading">Sub Total:</p> -->
                  <p class="mb-2 cartItemPrice">{{cart.totalCount | number}}</p>
                </div>

                <!-- <hr style="margin: 10px;"/> -->
                <div class="d-flex justify-content-between border-bottom mt-4">
                  <p class="mb-2 heading">Total Price:</p>
                  <h5 class="mb-2  cartItemPrice">{{cart.totalPrice || 0 | currency: '₦' :'symbol':'1.0-0'}}</h5>
                </div>

                <p class=" ship-text py-3">Shipping & taxes calculated at checkout</p>
                <div class="mt-3">
                  <button class="btn  w-100 shadow-0 mb-2 proceed" [disabled]="!isOrderValid()" (click)="toggleModal('paymentTypeModal', 'open')"> Place Order
                  </button>

                </div>
              </div>
            </div>

          

          </div>
        </div>
      </div>
      <!-- <div class="col-lg-1"></div> -->
    </div>

  </div>
</section>

<div id="paymentTypeModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
     
      <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('paymentTypeModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      />
    </div>
  <section class="p-3">
    <p class="modal-heading text-center">How would you like to Pay</p>
    <p class="text-center py-2">Complete your purchase with your preferred payment method</p>
    
    <div class="form-checks">
        <input 
            class="form-check-input me-3" 
            type="radio" 
            name="paymentMethod" 
            id="payOnDelivery" 
            [(ngModel)]="selectedPaymentMethod" 
            value="payOnDelivery"
        />
        <label class="form-check-label" for="payOnDelivery">
            Pay on delivery
        </label>
    </div>
    <div class="form-checks d-flex justify-content-between">
        <div>
            <input 
                class="form-check-input me-3" 
                type="radio" 
                name="paymentMethod" 
                id="paystack" 
                [(ngModel)]="selectedPaymentMethod" 
                value="paystack"
            />
            <label class="form-check-label" for="paystack">
                Bank Transfer
            </label>
        </div>
        <img style="height: 18px;" src="/assets/Images/paystack_logo.svg.png" alt="paystack logo" class="payment-logo" />
    </div>
    <div class="form-checks d-flex justify-content-between">
        <div>
            <input 
                class="form-check-input me-3" 
                type="radio" 
                name="paymentMethod" 
                id="supplyaPay" 
                [(ngModel)]="selectedPaymentMethod" 
                value="supplyaPay"
            />
            <label class="form-check-label" for="supplyaPay">
                SupplyaPAY
            </label>
        </div>
        <img style="height: 20px;" src="/assets/Images/Supplya Pay.png" alt="supplyaPay logo" class="payment-logo" />
    </div>
    <div class="text-center py-4" *ngIf="selectedPaymentMethod === ''">
        <button 
            type="button" 
            class="btn btn-primary w-100" 
            style="border-radius: 50px!important;"
        >
            Continue
        </button>
    </div>
    <div class="text-center py-4" *ngIf="selectedPaymentMethod !== ''">
        <button  *ngIf="selectedPaymentMethod === 'paystack'" (click)="payWithPaystack($event)" 
            type="button" 
            class="btn btn-primary w-100" 
            style="border-radius: 50px!important;"
        >
            Pay Now
        </button>
        <button *ngIf="selectedPaymentMethod !== 'paystack'" (click)="createOrder()" 
            type="button" 
            class="btn btn-primary w-100" 
            style="border-radius: 50px!important;"
        >
            Continue
        </button>
    </div>
</section>

  </div>
</div>

<div id="successModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
     
      <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('successModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      />
    </div>
  <section class="p-3">
    <h5 class="modal-headings text-center" style="font-size: 25px;">Order Placed Successfully!</h5>
    <div class="d-flex justify-content-center py-3">
      <img style="height: 100px;" src="/assets/Images/fulfilled-order.png" alt="">
    </div>
    <p class="text-center py-2" style="font-size: 17px;">Thank you for your order! It’s being processed and you’ll receive a confirmation email soon.</p>
    
    <div class="text-center py-4">
     
        <button routerLink="/core/{{userInfo?.role}}/orders"
            type="button" 
            class="btn btn-primary w-100" 
            style="border-radius: 50px!important;"
        >
            View Orders
        </button>
    </div>
</section>

  </div>
</div>

<div id="processModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
     
      <!-- <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('successModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      /> -->
    </div>
  <section class="p-3">
    <div class="py-5">

      <h5 class="modal-headings text-center" style="font-size: 25px;">Please wait..</h5>
      
      <p class="text-center py-2 mt-3" style="font-size: 17px;">
      We’ve received your order and are currently processing it.
      </p>
    </div>
  
</section>

  </div>
</div>
<app-footer></app-footer>
<!-- Your Order is Completed!
Thank you for your order! Your order is being processed and will be completed within 3-6 hours.
You will receive an email confirmation when your order is completed. -->


<div id="moqModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
      <!-- <p class="modal-heading text-center">Purchase Quantity Error</p> -->
      <img
        style="cursor: pointer"
        class=""
        (click)="toggleModal('moqModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt="Close"
      />
    </div>
    <div class="modal-body text-center">
      <p class="modal-heading text-center">Purchase Quantity</p>

      <p class="py-2" style="font-size: 18px; font-weight: 400;">
        The quantity you are trying to purchase is below the minimum order quantity (MOQ) for this product.
        Please increase the quantity to at least {{moqProduct?.moq}}.

      </p>

      <div class="d-flex justify-content-center mb-3">
        <button   (click)="toggleModal('moqModal', 'close')" class="btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>