<app-navbar></app-navbar>

<app-no-data-available  [visible]="!cart || !cart.items.length" notFoundMessage="Your cart is currently empty."
resetLink="RETURN TO SHOP"></app-no-data-available>


<section class="" style="display: flex; justify-content: center;" *ngIf="cart && cart.items.length">


  <div class="container  cart">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <app-breadcrumb class="d-none d-lg-block" currentPageLink="Shopping Cart" previousLink="Shop"></app-breadcrumb>
        <app-mini-breadcrumb class="mobile-only" currentPageLink="Shopping Cart" previousLink="Shop"></app-mini-breadcrumb>
        <div class="row">
 <!-- Cart Items Column -->
<div class="col-lg-8">
  <h4 class="mb-4">Cart Items ({{cart.items.length}})</h4>


  
  <!-- Product Items -->
   <section class="">

     <div class="mb-2 border-bottom" *ngFor="let item of cart.items">
       <!-- Product Container -->
       <div class="d-flex ">
         <!-- Product Image Column -->
         <div class="flex-shrink-0 img-sec">
           <div class="image-container border" style="height: 100%;">
             <img [src]="item?.product?.image" alt="Product Image" class="img-fluid  h-100">
           </div>
         </div>
         <!-- Product Details -->
         <div class="flex-grow-1 p-3 cart-contain">
           <!-- First Row: Product Name and Remove Icon -->
           <div class="d-flex justify-content-between">
             <div>
               <h5 class="mb-1 me-4">{{item.product.name}}</h5>
               <p  class="mb-1 ">Seller: <span class="text-primary">{{item.product?.createdBy?.storeUrl}}</span></p>
               <p class="mb-1">SKU: <span>{{item?.product?.sku}}</span></p>
             </div>
             <div class="text-center">
               <button class="btn text-danger" style="font-size: 17px; font-weight: 500; box-shadow: none!important;" title="Remove this item" (click)="confirmCartRemoval(item)">Remove</button>
               <p class="mt-2" style="font-size: 20px; font-weight: 400;">{{item.price || 0 | currency: '₦' :'symbol':'1.0-0'}}</p>
             </div>
           </div>
           <!-- Second Row: Controls, Unit Price, and Product Status -->
           <div class="d-flex justify-content-between align-items-center">
             <!-- Controls -->
   
              <div class="quantity-control">
             <button (click)="changeQuantity(-1, item)" class="">-</button>
             <span class="quantity" [(ngModel)]="item.quantity">{{ item.quantity }}</span>
             <button (click)="changeQuantity(1, item)" class=" ">+</button>
           </div>
          
             <!-- Unit Price -->
             <div>
               <p class="mb-0  text-primary" style="font-size: 16px; font-weight: 500;">{{item.product.unit_price || 0 | currency: '₦' :'symbol':'1.0-0'}} / Per item</p>
             </div>
             <!-- Product Status -->
             <div>
               <p [ngClass]="{ 'stock': item.product?.status === 'inStock', 'text-danger': item.product?.status !== 'inStock' }" class="mb-0 ">{{item.product?.status === 'inStock' ? 'In Stock' : 'Out of Stock'}}</p>
             </div>
           </div>
            <!-- MOQ Message -->
         <!-- <div *ngIf="item.product.moq > item.quantity" class="text-danger">
           The minimum order quantity is {{item.product.moq}}
         </div> -->
         </div>
       </div>
     </div>
   </section>

<!-- Mobile view -->
<section class="mobile-only d-none">
  <div class="mb-2 border-bottom bg-white" *ngFor="let item of cart.items">
    <!-- Product Container -->
    <div class="d-flex flex-column">
      <div class="d-flex ">
        <!-- Product Image Column -->
        <div class="mobile-img-sec mr-3">
          <div class="mobile-image-container border">
            <img [src]="item?.product?.image" alt="Product Image" class="img-fluid">
          </div>
        </div>
        <!-- Product Details Column -->
        <div class="p-2 flex-grow-1 mobile-cart-contain">
          <!-- First Row: Product Name and Remove Icon -->
          <div>
            <h5 class="mb-1">{{item.product.name}}</h5>
            <p class="mb-1">Seller: <span class="text-primary">{{item.product?.createdBy?.storeUrl}}</span></p>
            <p class="mb-1">SKU: <span>{{item?.product?.sku}}</span></p>
          </div>
          <!-- Second Row: Controls, Unit Price, and Product Status -->
          <div class="d-flex justify-content-between align-items-center mt-2">
            <!-- Controls -->
            <div class="mobile-quantity-control">
              <button (click)="changeQuantity(-1, item)" class="">-</button>
              <span class="quantity" [(ngModel)]="item.quantity">{{ item.quantity }}</span>
              <button (click)="changeQuantity(1, item)" class=" ">+</button>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-2">
            <div>
              <p class="mb-0 text-primary" style="font-size: 14px; font-weight: 500;">{{item.product?.unit_price || 0 | currency: '₦' :'symbol':'1.0-0'}} / Per item</p>
            </div>
            <!-- Product Status -->
            <div>
              <p [ngClass]="{ 'stock': item.product?.status === 'inStock', 'text-danger': item.product?.status !== 'inStock' }" class="mb-0">{{item.product?.status === 'inStock' ? 'In Stock' : 'Out of Stock'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style>
  /* Mobile view styles */
.mobile-img-sec {
  flex: 0 0 auto; /* Allow image to shrink as per its size */
  margin-right: 10px; /* Adjust margin as per your design */
}

.mobile-image-container {
  max-width: 100px;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mobile-image-container img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.mobile-cart-contain {
  box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
  border: 1px solid #7c7c7c17 !important;
  flex: 1 1 auto;
  padding: 10px;
}

.mobile-quantity-control {
  display: flex;
  align-items: center;
}

.mobile-quantity-control button {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  font-size: 18px;
}

.mobile-quantity-control .quantity {
  padding: 0 10px;
  font-size: 16px;
}

</style>
  <div class="d-flex justify-content-end clear-section mb-3">
    <!-- <button class="btn" (click)="clearCart()">Clear Cart</button> -->
  </div>
</div>



          <!-- Cart Totals Column -->
          <div class="col-lg-4 text-center">
            <h4 class="heading mb-5"></h4>

            <div class="card shadow-0 border total">

              <div class="card-body">


                <div class="d-flex justify-content-between border-bottom mt-4">
                  <p class="mb-2 heading"> Total Count:</p>
                  <!-- <p class="mb-2 heading">Sub Total:</p> -->
                  <p class="mb-2 cartItemPrice">{{cart.totalCount | number}}</p>
                </div>

                <!-- <hr style="margin: 10px;"/> -->
                <div class="d-flex justify-content-between border-bottom mt-4">
                  <p class="mb-2 heading">Total Price:</p>
                  <h5 class="mb-2  cartItemPrice">{{cart.totalPrice || 0 | currency: '₦' :'symbol':'1.0-0'}}</h5>
                </div>

                <p class=" ship-text py-3">Shipping & taxes calculated at checkout</p>
                <div class="mt-3">
                  <button class="btn  w-100 shadow-0 mb-2 proceed" [disabled]="!isOrderValid()" (click)="toggleModal('paymentTypeModal', 'open')"> Place Order
                  </button>

                </div>
              </div>
            </div>

          

          </div>
        </div>
      </div>
      <!-- <div class="col-lg-1"></div> -->
    </div>

  </div>
</section>

<div id="paymentTypeModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
     
      <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('paymentTypeModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      />
    </div>
  <section class="p-3">
    <p class="modal-heading text-center">How would you like to Pay</p>
    <p class="text-center py-2">Complete your purchase with your preferred payment method</p>
    
    <div class="form-checks">
        <input 
            class="form-check-input me-3" 
            type="radio" 
            name="paymentMethod" 
            id="payOnDelivery" 
            [(ngModel)]="selectedPaymentMethod" 
            value="payOnDelivery"
        />
        <label class="form-check-label" for="payOnDelivery">
            Pay on delivery
        </label>
    </div>
    <div class="form-checks d-flex justify-content-between">
        <div>
            <input 
                class="form-check-input me-3" 
                type="radio" 
                name="paymentMethod" 
                id="paystack" 
                [(ngModel)]="selectedPaymentMethod" 
                value="paystack"
            />
            <label class="form-check-label" for="paystack">
                Bank Transfer
            </label>
        </div>
        <img style="height: 18px;" src="/assets/Images/paystack_logo.svg.png" alt="paystack logo" class="payment-logo" />
    </div>
    <!-- <div class="form-checks d-flex justify-content-between">
        <div>
            <input 
                class="form-check-input me-3" 
                type="radio" 
                name="paymentMethod" 
                id="supplyaPay" 
                [(ngModel)]="selectedPaymentMethod" 
                value="supplyaPay"
            />
            <label class="form-check-label" for="supplyaPay">
                SupplyaPAY
            </label>
        </div>
        <img style="height: 20px;" src="/assets/Images/Supplya Pay.png" alt="supplyaPay logo" class="payment-logo" />
    </div> -->
    <div class="py-4">
<p class="text-center text-danger" *ngIf="selectedPaymentMethod === '' && transferOption">Please select a payment method (e.g., Bank Transfer or Pay on Delivery) to proceed with your order.</p>
      <div >
    <div class="text-center" *ngIf="selectedPaymentMethod === ''">
           <button (click)="selectOption()"
               type="button" 
               class="btn btn-primary w-100" 
               style="border-radius: 50px!important;"
           >
               Continue
           </button>
       </div>
       <div class="text-center">
           <button  *ngIf="selectedPaymentMethod === 'paystack'" (click)="payWithPaystack($event)" 
               type="button" 
               class="btn btn-primary w-100" 
               style="border-radius: 50px!important;"
           >
               Pay Now
           </button>
           <button *ngIf="selectedPaymentMethod == 'payOnDelivery'" (click)="placeOrder()" 
               type="button" 
               class="btn btn-primary w-100" 
               style="border-radius: 50px!important;"
           >
               Place Order
           </button>
       </div>
      </div>
   
      <div class="py-2 mt-2">
          <button (click)="toggleModal('paymentTypeModal', 'close');selectedPaymentMethod === ''"
               type="button" 
               class="btn btn-secondary w-100" 
               style="border-radius: 50px!important; color: #000!important;"
           >
               Cancel
           </button>
      </div>
    </div>
</section>

  </div>
</div>

<div id="successModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
     
      <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('successModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      />
    </div>
  <section class="p-3">
    <h5 class="modal-headings text-center" style="font-size: 25px;">Order Placed Successfully!</h5>
    <div class="d-flex justify-content-center py-3">
      <img style="height: 100px;" src="/assets/Images/fulfilled-order.png" alt="">
    </div>
    <p class="text-center py-2" style="font-size: 17px;">Thank you for your order! It’s being processed and you’ll receive a confirmation email soon.</p>
    
    <div class="text-center py-4">
     
        <button routerLink="/core/{{userInfo?.role}}/orders"
            type="button" 
            class="btn btn-primary w-100" 
            style="border-radius: 50px!important;"
        >
            View Orders
        </button>
    </div>
</section>

  </div>
</div>

<div id="processModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
     
      <!-- <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('successModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      /> -->
    </div>
  <section class="p-3">
    <div class="py-5">

      <h5 class="modal-headings text-center" style="font-size: 25px;">Please wait..</h5>
      
      <p class="text-center py-2 mt-3" style="font-size: 17px;">
      We’ve received your order and are currently processing it.
      </p>
    </div>
  
</section>

  </div>
</div>

<div id="removeModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
     
      <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('removeModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      />
    </div>
  <section class="p-3">
    <div class="py-4">

      <P class="text-center" style="font-size: 18px; font-weight: 600;">Are you sure you want to remove <br><span class="text-primary">{{selectedCart?.product?.name}}</span> <br> from cart?</P>
      
     <div class="d-flex justify-content-center py-3">
      <button class="remove-btn-primary me-3" (click)="removeFromCart(selectedCart)">Yes, remove</button>
      <button class="remove-btn-secondary" (click)="toggleModal('removeModal', 'close')">No</button>
     </div>
    </div>
  
</section>

  </div>
</div>
<app-footer></app-footer>
<!-- Your Order is Completed!
Thank you for your order! Your order is being processed and will be completed within 3-6 hours.
You will receive an email confirmation when your order is completed. -->


<div id="moqModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">
      <!-- <p class="modal-heading text-center">Purchase Quantity Error</p> -->
      <img
        style="cursor: pointer"
        class=""
        (click)="toggleModal('moqModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt="Close"
      />
    </div>
    <div class="modal-body text-center">
      <p class="modal-heading text-center">Purchase Quantity</p>

      <p class="py-2" style="font-size: 18px; font-weight: 400;">
        The quantity you are trying to purchase is below the minimum order quantity (MOQ) for this product.
        Please increase the quantity to at least {{moqProduct?.moq}}.

      </p>

      <div class="d-flex justify-content-center mb-3">
        <button   (click)="toggleModal('moqModal', 'close')" class="btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>