/* .quantity-selector {
    display: flex;
    justify-content: center;
    align-self: center;
}

.quantity-button {
    background-color: #BEBFC2;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.quantity-input {
    width: 70px !important;
    text-align: center;
    font-size: 16px;
    height: 30px;
    background-color: #bebfc24d;
    border: 1px solid white !important;
    font-size: 14px;
    border-radius: 0%!important;
}

.quantity-selector-mobile {
    display: flex;
    justify-content: center;
    align-self: center;
}

.quantity-selector-mobile .quantity-button {
    background-color: var(--primary-color);
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: white!important;
    cursor: pointer;
}

.quantity-selector-mobile .quantity-input {
    width: 70px !important;
    text-align: center!important;
    font-size: 16px;
    height: 30px;
    border-radius: 0%!important;
    background-color: #bebfc24d;
    border: 1px solid white !important;
    font-size: 14px;
} */
.quantity-control {
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
.quantity-control {
  display: flex;
  align-items: center;
}
}
.quantity-control button {
  padding: 1px 10px!important;
  /* border: 1px solid #ccc;
  background-color: white; */
    background-color: var(--primary-color);
  color: white !important;
  border-radius: 6px;
  font-size: 20px!important;
  font-weight: 600;
}

.quantity {
  margin: 0.7rem;
  font-size: 1.3rem;
}
.cart .heading {
    font-size: 16px !important;
    font-weight: 700;
    color: #000!important;
}



.total {
    background-color: #Ffff;
    border-radius: 10px;
    text-align: center;
}

.ship-text {
    color: #8A91AB;
    font-size: 12px;
    font-weight: 400;
}

.cartItemPrice {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 500;
    color: #15245E;
}

.cart .title {
    font-size: 16px !important;
    font-weight: 700;
    color: black;
}

.cart .tag {
    font-size: 14px;
    font-weight: 500;
}

.cart .price {
    font-size: 16px;
    font-weight: 700;
    color: #15245E;
}

.cart-product-img .btn {
    border-radius: 50%;
    background-color: black !important;
    color: white !important;
}

.quantity-selector input[type="number"]::-webkit-inner-spin-button,
.quantity-selector input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-selector-mobile input[type="number"]::-webkit-inner-spin-button,
.quantity-selector-mobile input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clear-section button {
    border-radius: 2px;
    background: var(--secondary-color);
    text-align: center;
    align-self: center;
    color: black!important;
}

.total .proceed {
    background: var(--primary-color);
    color: white!important;
    font-size: 15px;
    font-weight: 500;
    padding: 16px;
    border-radius: 50px;
    outline: none;
    box-shadow: none;
}
.remove-text{
  font-size: 20px; font-weight: 600;
}
.total input {
    height: 50px;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid #C7CEE4;
    background-color: transparent;
    color: black;
    font-size: 16px;
}

.total input:focus {
    box-shadow: none;
}

.total ::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #C5CBE3;
}

.product-details {
    margin-left: 20px;
}

.product-name {
    font-size: 18px;
    margin: 0;
}

.img-sec{
    width: 150px !important;
}

.cart-contain{
    box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
border-top: 1px solid #7c7c7c17!important;
border-bottom: 1px solid #7c7c7c17!important;
border-right: 1px solid #7c7c7c17!important;
}
.stock{
font-size: 15px;
font-weight: 500;
line-height: 22px;
color: green;
}



.ship-info{
    .card {
  border: 1px solid #ddd;
  border-radius: 5px;
  /* margin: 20px 0; */
}

.card-title {
  margin-bottom: 0;
}

.edit-link {
  color: #17a2b8;
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}

p {
  /* margin: 5px 0; */
}
.label {
  font-weight: 600;
  /* margin-bottom: 5px; */
  margin-right: 10px;
   margin-top: 0;
  margin-bottom: 20px;
}

.value {
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 700px) {
/* .remove-texts{
  font-size: 20px!important; font-weight: 600;
} */
}
@media screen and (max-width: 769px) {
  .label, .value {
    font-size: 16px;
  }


}


  .modal-heading{
    font-size: 20px!important;
}

}
.form-checks{
  border-bottom: 1px solid var(--stroke, #E6E6E6);
  padding: 15px 0px;
}
.form-checks label{
font-size: 17px;
font-weight: 400;
cursor: pointer;
}
.form-check-input{
  box-shadow: none !important;
  outline: none !important;
}