.account-overview {
//   padding: 20px;
//   background-color: #f9f9f9;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
 p {

          margin: 0!important;
        }
  p {
    font-size: 14px;
    margin-bottom: 20px;
  }
.account-info{
    box-shadow: 0px 3.67px 27.54px 0px #2E2D740D;
    background-color: #fff;
    padding: 12px 30px;
}
 
  .order-status {
    // display: flex;
    // justify-content: space-between;

    .order-card {
    //   width: 30%;
      background-color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      margin-bottom: 10px!important;

      .icon {
        font-size: 24px;
        margin-right: 10px;
      }

      .details {
        h4 {
          font-size: 24px;
          margin: 0;
        }

        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }

    .pending {
      background-color: #fff3e6;
    }

    .completed {
      background-color: #e6f9e6;
    }

    .total {
      background-color: #e6f2f9;
    }
  }
}


        .acct-title{
font-size: 17px!important;
font-weight: 500!important;


        }
.name{
color: #191C1F!important;

font-size: 15px!important;
font-weight: 500!important;


}
.edit{
font-size: 16px!important;
font-weight: 600;
color: var(--primary-color);
cursor: pointer;
}





.main-order{
    

.head-text{
font-family: Open Sans;
font-size: 14.7px;
font-weight: 400;
color: #777980;


}
.head-count{
font-family: Open Sans;
font-size: 29.39px;
font-weight: 600;
color: #1D1F2C;


}
.orders-section{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-color: white;
    box-shadow: 0px 3.67px 27.54px 0px #2E2D740D;
border: 0.92px solid #F0F1F3
}
.head-brief{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
color: var(--primary-color);

}
.container-content{
    box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
background-color: white !important;
border-radius: 11px;
height: 135px;
}


.table .product-info {
    display: flex;
    align-items: center;
    font-weight: 500!important;
  }

  .table .product-image {
    width: 40.41px;
    height: 40.41px;
    border-radius: 7.35px 0px 0px 0px;
    margin-right: 10px;
  }

   .completed {
    background: #00FF661A;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    color: #0FB347;
    padding: 7px 12px;
    border-radius: 100px;
  }
  
  .new {
    background: #3399FF1A;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    color: #3399FF;
    padding: 7px 12px;
    border-radius: 100px;
  }

  .cancelled {
    background: #FFF0EA;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;
    color: #F86624;
    padding: 7px 12px;
    border-radius: 100px;
  }
  .pending {
    background-color: #ffeb3b5c;
  color: #000000;  
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 300;
    padding: 7px 12px;
    border-radius: 100px;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .action-icons img{
    cursor: pointer;
  }

  .view-all{
    cursor: pointer; color: var(--primary-color);
     font-size: 15px;
      font-weight: 500;
  }

.orderDetails .name {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
}

.orderDetails .value, a {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  color: #1D1F2C;
  text-align: left!important;
  margin-left: 12px; 
}

.orderDetails .contain {
  display: flex;
  flex-direction: row;
}
.modal-center-content{
  border-radius: 10px !important; width: 65%!important;
}

.contain-total {
border-radius: 10px;
 border: 1px solid #F0F1F3!important;
 
}
.contain-total .value, a {
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 600;
  color: #1D1F2C;
  text-align: left!important;
  margin-left: 12px; 
}
@media (max-width: 700px) {

.modal-center-content{
  border-radius: 10px !important;
  width: 95%!important;
}

}
}