<section>
    <div class="account-overview container">
  <!-- <h2>Account Overview</h2> -->
  <p >Keep your Profile information and Shipping address up-to-date.</p>

  <div class="" >
   
     
      <div class="row mt-3">
        <div class="col-lg-6 account-info">
             <div class="card-body">
                <div class="d-flex  border-bottom justify-content-between">

                    <h6 class="acct-title">Account Information</h6>
                    <p  (click)="toDashboard()" class="edit"><img src="/assets/Images/edit.png" alt=""> Edit</p>
                </div>
        <div class="user-details mt-4">
            <div class="d-flex py-3 align-items-center">

                <img src="/assets/Images/Container.png" alt="Profile Picture" class="profile-pic me-3">
                <div>

                    <h4>{{userDetails?.firstName}} {{userDetails?.lastName}}</h4>
                                <!-- <p>User ID: {{userDetails?._id}}</p> -->
                </div>
            </div>
          <div>

            <p> <span class="name">Email:</span> &nbsp;  {{userDetails?.email}}</p>
            <p><span class="name">Phone:</span> &nbsp; {{userDetails?.phoneNumber}}</p>
          </div>
        </div>
      </div>
        </div>
        <div class="col-lg-6 order-status mt-1">

            <section class="content" *ngIf="ordersLoading && !allOrders && !errorFetchingProduct">
<div class="py-5 p-5 center">
    <div>

        <img src="/assets/Images/requestLoading.gif" alt="">
        <p class="loading-text text-center text-muted">Loading...</p>
    </div>
</div>
      </section >
      <section class="content center" *ngIf="!ordersLoading && !allOrders && errorFetchingProduct">
        <div class="py-5 ">
          <div class="py-3 text-center" >
            <img src="/assets/Images/oops.png" style="height: 200px;" alt="">
            <p class="loading-text  text-muted py-3">Could not display orders. Click 'Refresh' to try again.
        </p>
            <p class="refresh" (click)="refreshOrders()">Refresh <i class="bi bi-arrow-repeat"></i></p>
          </div>
        </div>
      </section>
             <div class="row" *ngIf="!ordersLoading && allOrders && !errorFetchingProduct">
                <div class="col-lg-12">
                     <div class="order-card pending">
      <div class="icon"><img src="/assets/Images/pendingc.png" alt=""></div>
      <div class="details">
        <h4>{{summary?.totalPendingOrdersCount}}</h4>
        <p>Pending Orders</p>
      </div>
    </div>
                </div>
                <div class="col-lg-12">
 <div class="order-card completed">
      <div class="icon"><img src="assets/Images/completedc.png" alt=""></div>
      <div class="details">
        <h4>{{summary?.deliveredOrdersCount}}</h4>
        <p>Completed Orders</p>
      </div>
    </div>
                </div>
                <div class="col-lg-12">
 <div class="order-card total">
      <div class="icon"><img src="/assets/Images/totalc.png" alt=""></div>
      <div class="details">
        <h4>{{summary?.totalOrders}}</h4>
        <p>Total Orders</p>
      </div>
    </div>
                </div>
   
   
   
  </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-6 account-info">
             <div class="card-body">
                <div class="d-flex  border-bottom justify-content-between">

                    <h6 class="acct-title">Shipping Information</h6>
                    <p  (click)="toDashboard()" class="edit"><img src="/assets/Images/edit.png" alt=""> Edit</p>
                </div>
        <div class="user-details mt-4">
          
          <div>
<div class="mb-1">

    <p> <span class="name">Name:</span> &nbsp;  {{userDetails?.firstName}} {{userDetails?.lastName}}</p>
</div>
<div class="mb-1">

    <p><span class="name mb-2">Address:</span> &nbsp; {{userDetails?.address}}</p>
</div>
<div class="mb-1">

    <p><span class="name mb-2">City:</span> &nbsp; {{userDetails?.city}}</p>
</div>
<div class="mb-2">

    <p><span class="name mb-2">State:</span> &nbsp; {{userDetails?.state}}</p>
</div>
<div class="mb-2">

    <p><span class="name mb-2">Zip Code:</span> &nbsp; {{userDetails?.zip}}</p>
</div>
          </div>
        </div>
      </div>
        </div>
       
      </div>
  
  </div>

 

 
</div>

</section>

<section class="main-order mt-2">
                <section class="content" *ngIf="ordersLoading && !allOrders && !errorFetchingProduct">
<div class="py-5 p-5 center">
    <div>

        <img src="/assets/Images/requestLoading.gif" alt="">
        <p class="loading-text text-center text-muted">Loading...</p>
    </div>
</div>
      </section >
      <section class="content center" *ngIf="!ordersLoading && !allOrders && errorFetchingProduct">
        <div class="py-5 ">
          <div class="py-3 text-center" >
            <img src="/assets/Images/oops.png" style="height: 200px;" alt="">
            <p class="loading-text  text-muted py-3">Could not display orders. Click 'Refresh' to try again.
        </p>
            <p class="refresh" (click)="refreshOrders()">Refresh <i class="bi bi-arrow-repeat"></i></p>
          </div>
        </div>
      </section>
     
     
      <div class="orders-section"  *ngIf="!ordersLoading && allOrders?.length > 0">
        <div class="px-4 d-flex justify-content-between align-items-center">
            <div class="">

                <p class="head-count mb-0 mt-2" style="font-size: 20px;">Orders</p>
                <p class="head-text">Recent Orders</p>
            </div>
            <p class="view-all" routerLink="/core/customer/orders">View All</p>
</div>
      </div>
      <div class="table-responsive" *ngIf="!ordersLoading && allOrders?.length > 0">
          <table class="table" style="overflow-y: auto;">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Date & Time</th>
                <th>Price</th>
                <th>Earnings</th>
                <th>Customer</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allOrders | paginate: { itemsPerPage: itemPerPage, currentPage: p }; let i = index">
                <td class="text-primary" style="font-size: 15px; font-weight: 500;">
                    {{item?.orderId}}
                </td>
                <td>{{ item?.dateOrdered | date: 'MMM d, y hh:mm a' }}</td>
                <td>{{item?.totalPrice || 0 | currency:'₦':true:'1.0-0'}}</td>
                <td>{{ (item?.totalPrice - (item?.totalPrice * 0.01)) | currency:'₦':true:'1.0-0' }}</td>
                <td>{{item?.user?.firstName}} {{item?.user?.lastName}}</td>
               <td >
                <small [ngClass]="{'completed': item?.orderStatus ===  'received' || 'completed', 'new': item?.orderStatus === 'new',
                 'pending': item?.orderStatus === 'pending', 'cancelled': item?.orderStatus === 'cancelled'}">
                  {{ capitalizeFirstLetter(item?.orderStatus) }}</small>
                </td>

                <td>
                <span (click)="toggleModal('orderDetailsModal', 'open', item)" class="view-call text-decoration-underline text-primary cursor-pointer fw-bold">View</span>
                </td>
              </tr>
            </tbody>
           
          </table>          
      </div>

      
       <section class="content center mt-2" *ngIf="!ordersLoading && allOrders?.length === 0">
        <div class="py-5 ">
          <div class="py-3 text-center" >
            <img src="/assets/Images/product-cat.png" style="height: 100px;" alt="">
            <div class="mt-2">

              <p class="loading-text  text-muted">No order available
          </p>
            </div>
          </div>
        </div>
      </section>




 <div id="orderDetailsModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-2 px-lg-5 pb-5"
   
  >
    <div class="d-flex justify-content-between">
            <p class="modal-heading text-center">Order Details  <span class="text-primary" style=" font-weight: 500;">{{selectedOrder?.orderId}}</span></p>
      <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('orderDetailsModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      />
    </div>
<section>
  <div class="row orderDetails">
    <div class="col-lg-4">
      <div>
        <div class="details-head">Order Information</div>
        <div class="contain mt-3">
          <p class="name"> Created On:</p>
          <p class="value">{{ selectedOrder?.dateOrdered | date: 'MMM d, y hh:mm a' }}</p>
        </div>
        <div class="contain">
          <p class="name"> Product Status:</p>
          <p class="value">
            <span [ngClass]="{'completed': selectedOrder?.orderStatus === 'received' || 'completed', 'new': selectedOrder?.orderStatus === 'new',
                 'pending': selectedOrder?.orderStatus === 'pending', 'cancelled': selectedOrder?.orderStatus === 'cancelled'}">
                {{ capitalizeFirstLetter(selectedOrder?.orderStatus) }} 
                </span>
            </p>
        </div>
        <div class="contain">
          <p class="name"> Payment Status:</p>
          <p class="value">{{capitalizeFirstLetter(selectedOrder?.paymentMethod)}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <div class="details-head">Customer Information</div>
        <div class="contain mt-3">
          <p class="name"> Name:</p>
          <p class="value">{{selectedOrder?.user?.firstName}} {{selectedOrder?.user?.lastName}}</p>
        </div>
        <div class="contain">
          <p class="name"> Email:</p>
          <p class="value"><a href="{{selectedOrder?.email}}">{{selectedOrder?.email}}</a></p>
        </div>
        <div class="contain">
          <p class="name"> Phone:</p>
          <p class="value"><a href="tel:{{selectedOrder?.phone}}">{{selectedOrder?.phone}}</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <div class="details-head">Shipping Information</div>
        <div class="contain mt-3">
          <p class="name"> Name:</p>
          <p class="value">{{selectedOrder?.user?.firstName}} {{selectedOrder?.user?.lastName}}</p>
        </div>
        <div class="contain">
          <p class="name">Address:</p>
          <p class="value">{{selectedOrder?.address}}</p>
        </div>
     
      </div>
    </div>
  </div>
</section>
<section class="py-2">
   <div class="table-responsive" style="border-radius: 0px!important; box-shadow: none!important;">
         <table class="table">
  <thead>
    <tr>
      <th>Products</th>
      <!-- <th>Variation</th> -->
      <!-- <th>SKU</th> -->
      <th>Store</th>
      <th>QTY</th>
      <th>Unit Price</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of selectedOrder?.orderItems | paginate: { itemsPerPage: itemPerPage, currentPage: p }; let i = index">
      <td >
        {{ item?.product?.name }}
      </td>
      <td><a class="text-primary" style="font-size: 15px; font-weight: 500;" href="{{item?.vendorDetails?.storeUrl}}">{{ item?.vendorDetails?.storeName }}</a> </td>
      <td>{{ item?.quantity }}</td>
      <td>{{ item?.product?.unit_price | currency:'₦':true:'1.0-0' }}</td>
      <td>{{ (item?.product?.unit_price * item?.quantity) | currency:'₦':true:'1.0-0' }}</td>
      <!-- <td>{{ item?.product?.dateCreated | date: 'MMM d, y hh:mm a' }}</td> -->
      <!-- <td>{{ item?.product?.sku || 0  }}</td> -->
    </tr>
  </tbody>
</table>

      </div>
</section>
<section>
  <div class="row d-flex justify-content-end ">
<div class="col-4 d-flex justify-content-end align-items-center">
  <div class="contain-total shadow-sm p-2">
  <div class="d-flex border-bottom mt-2">
    <p class="name">Total Price:</p>
    <p class="value">{{ selectedOrder?.totalPrice | currency:'₦':true:'1.0-0' }}</p>
  </div>
  <!-- <div class="d-flex mt-3">
    <p class="name">Commission (1%):</p>
    <p class="value">{{ (selectedOrder?.totalPrice * 0.01) | currency:'₦':true:'1.0-0' }}</p>
  </div>
  <div class="d-flex">
    <div class="details-head">Earnings</div>
    <div class="details-head">{{ (selectedOrder?.totalPrice - (selectedOrder?.totalPrice * 0.01)) | currency:'₦':true:'1.0-0' }}</div>
  </div> -->
</div>

</div>
  </div>
</section>
  
<!-- <div class="d-flex justify-content-center">

    <button  class="btn-modal-primary mt-3" style="border-radius: 80px!important; padding: 13px 60px!important;">Continue</button>
</div> -->
  </div>
</div>
</section>



<div id="updateProfileModal" class="modal" style="z-index: 1!important">
  <div
    class="modal-center-content mx-auto pt-4 px-2 px-lg-5"
    style="border-radius: 10px !important;"
  >
    <div class="d-flex justify-content-end px-4 px-lg-2">
      <!-- <p class="modal-heading text-center">Purchase Quantity Error</p> -->
      <img
        style="cursor: pointer"
        class=""
        (click)="toggleModal('updateProfileModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt="Close"
      />
    </div>
    <div class="modal-body text-center mb-5">
<app-profile-update (UpdateSuccess)="updateSuccess()" (UpdateStart)="toggleModal('updateProfileModal', 'close')"></app-profile-update>
  </div>
</div>
</div>