.head-text{

font-size: 14.7px;
font-weight: 400;
color: #777980;


}
.head-count{

font-size: 29.39px;
font-weight: 600;
color: #1D1F2C;


}
.orders-section{
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    background-color: white;
    box-shadow: 0px 3.67px 27.54px 0px #2E2D740D;
border: 0.92px solid #F0F1F3
}
.head-brief{
    
font-size: 14px;
font-weight: 400;
color: var(--primary-color);

}
.container-content{
    box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
background-color: white !important;
border-radius: 11px;
height: 135px;
}

.table .product-info {
    display: flex;
    align-items: center;
    font-weight: 500!important;
  }

  .table .product-image {
    width: 40.41px;
    height: 40.41px;
    border-radius: 7.35px 0px 0px 0px;
    margin-right: 10px;
  }

  .active {
    background: #00FF661A;
    
    font-size: 14px;
    font-weight: 600;
    color: #0FB347;
    padding: 7px 12px;
    border-radius: 100px;
  }
  
  .inactive {
    background: #FFF0EA;
    
    font-size: 14px;
    font-weight: 600;
    color: #F86624;
    padding: 7px 12px;
    border-radius: 100px;
  }

  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .action-icons img{
    cursor: pointer;
  }

  