
.sub{
font-size: 14px;
font-weight: 400;
color: #000000B2;


}
.headings{
    font-size: 30px;
    font-weight: 600;
    // color:var(--primary-color);
    }


label{
    text-align: left!important;
}

.content-label {
  text-align: left !important;
  display: block;
}
.error-text {
  text-align: left !important;
  display: block;
}


