.offline {
    background-color: #f2dedec8; /* Light red background color */
    // color: #721c24;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.message-container {
    text-align: center;
}

.error-message {
    font-size: 18px;
   font-weight: 400;
    margin: 10px 0;
}
/* online-status.component.css */
.online {
    background-color: #d4edda; /* Light green background color */
    color: #155724; /* Dark green text color */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.message-container {
    text-align: center;
}

.success-message {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}
