.product-img img {
    margin-left: 10px;
}

.product h5 {
    font-size: 36px;
    font-weight: 700;
    color: #0D134E;
}

.product h6 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.product .description {
    font-size: 16px;
    /* font-weight: 700; */

}
.des-heading{
font-size: 18px;
font-weight: 500;
line-height: 22px;
color: #000;

}
.flash-sales .card-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    }

.product .tag {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.product span {
    font-weight: 400;
}

.product .cart {
    font-size: 16px;
    font-weight: 600;
    background: var(--primary-color);
    color: white;
    width: 100%;
    border-radius: 50px;
    padding: 16px;
}

.image-container{
    overflow-x: auto;
    white-space: nowrap;
}
/* .nav-tabs .nav-link.active {
    background-color: blue !important;
    color: black !important;
  }
  
  .nav-tabs .nav-link.inactive {
    background-color: red !important;
    color: black !important;
  } */

.nav-tabs {
    border: none;
    justify-content: center;
}

.nav-tabs .nav-item {
    margin: 0 10px;
    display: flex;
}

.nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #151875;
    cursor: pointer;


}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #151875;
    color: white !important;
    font-size: 18px;
    font-weight: 700;
    color: #151875!important;
    background: transparent;
    cursor: pointer;
}

.reviews{
    background: #F9F8FE;

}

.des p{

font-size: 15px;
/* font-weight: 700; */

}
.des h6{

    font-size: 20px;
    font-weight: 700;
    color: #151875;
    

}

.store-name{
font-size: 16px;
font-weight: 500;
line-height: 22px;
color: var(--primary-color);
text-decoration: underline;
}
.stock{
font-size: 14px;
font-weight: 500;
line-height: 22px;
color: var(--primary-color);
}
.mini{
font-size: 15px;
font-weight: 500;
line-height: 22px;
color: var(--primary-color);
}

.star-rating {
    color: #ffc107;
    margin-bottom: 10px;
}



.home-heading{
    font-size: 39px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: #000;
    
    }
    
    .see-all{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
    }
    .see-all-white{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
    }
    
    
    .flash-sales .card {
        width: 18rem;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    
    .placeholder-image {
        height: 200px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
         border-bottom: 1px solid #cccccc6a;
    border-top: 1px solid #cccccc6a;
    margin-top: 7px;
    }
    
    .placeholder-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover; /* or object-fit: contain; */
    }
    
    .love-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff; /* White background color */
        border-radius: 50%; /* Make it round */
        padding: 10px; /* Equal padding on all sides */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .love-icon i {
        color: #000; /* Black color for the icon */
        font-size: 17px; /* Adjust font size as needed */
        line-height: 1; /* Ensure icon is vertically centered */
    }
    
    
    .star-rating {
        color: #ffc107; /* Color for the star icons */
        margin-bottom: 10px;
    }
    
    .price-and-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .product-amount {
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.0038em;
    color: var(--primary-color);
    
    }
    
    .cart-icon {
        
        color: #fff;
        background-color: var(--primary-color);
        border-radius: 50%;
        padding: 20px; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .product-container {
        overflow-x: auto;
        white-space: nowrap;
      }

          .other-images {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .other-images::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .other-images .image img {
    max-width: 100px;
    height: auto;
  }
