.product-img img {
    margin-left: 10px;
}

.product h5 {
    font-size: 30px;
    font-weight: 700;
    color: #414040;
}

.product h6 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.product .description {
    font-size: 16px;
    /* font-weight: 700; */

}
.des-heading{
font-size: 18px;
font-weight: 500;
line-height: 22px;
color: #000;

}
.flash-sales .card-title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    }

.product .tag {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.product span {
    font-weight: 400;
}
.wish-btn{
background-color: white!important;
border: 1px solid var(--primary-color)!important;
color: var(--primary-color)!important;
padding: 13px!important;
}
.wish-btn:focus{
background-color: white!important;
border: 1px solid var(--primary-color)!important;
color: var(--primary-color)!important;
padding: 13px!important;
box-shadow: none!important;
outline: none!important;
}

.product .cart {
    font-size: 16px;
    font-weight: 600;
    background: var(--primary-color);
    color: white;
    width: 100%;
    border-radius: 50px;
    padding: 16px;
}

.image-container{
    overflow-x: auto;
    white-space: nowrap;
}
/* .nav-tabs .nav-link.active {
    background-color: blue !important;
    color: black !important;
  }
  
  .nav-tabs .nav-link.inactive {
    background-color: red !important;
    color: black !important;
  } */
/* styles.css or app.component.css */

/* Transition effect for main image */
.main-product-image {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.main-product-image:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

/* Transition effect for other images */
.other-product-image {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.other-product-image:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Optional: active state for clicked image */
.image-item:active .other-product-image {
  transform: scale(1.2);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.nav-tabs {
    border: none;
    justify-content: center;
}

.nav-tabs .nav-item {
    margin: 0 10px;
    display: flex;
}

.nav-tabs .nav-link {
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #807E7E;
    cursor: pointer;


}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--primary-color);
    color: white !important;
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color)!important;
    background: transparent;
    cursor: pointer;
}

.reviews{
    background: #f9f8fe92;

}

.des p{

font-size: 15px;
/* font-weight: 700; */

}
.des h6{

    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    

}

.store-name{
font-size: 16px;
font-weight: 500;
line-height: 22px;
color: var(--primary-color);
text-decoration: underline;
}
.stock{
font-size: 14px;
font-weight: 500;
line-height: 22px;
color: var(--primary-color);
}
.mini{
font-size: 17px!important;
font-weight: 600!important;
/* line-height: 22px; */
color: var(--primary-color);
}

.star-rating {
    color: #ffc107;
    margin-bottom: 10px;
}



.home-heading{
    font-size: 39px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: #000;
    
    }
    
    .see-all{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
    }
    .see-all-white{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: underline;
    }
    
    
    .flash-sales .card {
        width: 18rem;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    

 

   
  /* .other-images::-webkit-scrollbar {
    display: none; 
  } */
  
  .product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 100%;
  /* max-width: 550px; */
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0;
  display: flex;
  cursor: move;
  justify-content: center;
  align-items: center;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.other-images {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.image-item {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  background-color: #f0f0f0; /* Default background color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-right: 140px!important;
}
.price-min{
  display: flex;
  justify-content: space-between;
}
.price-min p{
 font-size: 17px;
 font-weight: 600;
}
@media (max-width: 700px) {
.quantity-control {
  display: flex;
  align-items: center;
  margin-right: 40px!important;
}
.price-min{
  display: block;
}
.price-min p{
 font-size: 17px;
 font-weight: 400;
}
.name{
  font-size: 27px!important;
}
.product-images{
  margin-top: -40px!important;
}
.main-image {
  width: 100%;
  max-width: 400px!important;
  height: auto;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-item {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-color: #f0f0f0; /* Default background color */
  display: flex;
  justify-content: center;
  align-items: center;
}
}
.quantity-control button {
  padding: 4px 10px;
  /* border: 1px solid #ccc;
  background-color: white; */
  background-color: var(--primary-color);
  color: white !important;
  border-radius: 6px;
  font-size: 20px!important;
  font-weight: 600;
}

.quantity {
  margin: 0 1rem;
  font-size: 1.3rem;
}

.btn.cart {
  width: 100%;
}

.product .wishlist-bg {
  background-color: #ffc107!important; /* Background color for wishlist */
  border: 3px solid  #ffc107!important;
}


.btn-outline-primary, .btn-outline-secondary {
  margin: 0 5px;
}



/* component.css */
