

// .breadcrumb-bg {
//     background: #F6F5FF;

// }


.menu-title {
    font-size: 40px;
    font-weight: 500;
    color: #000;



}

.breadcrumb-item a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;

    /* color: #ffc222; */
    /* font-family: 'Nunito Sans', sans-serif !important; */
}
.breadcrumb .text-black {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;

    /* color: #ffc222; */
    /* font-family: 'Nunito Sans', sans-serif !important; */
}
.breadcrumb .active{
font-size: 15px;
font-weight: 500;
color: var(--primary-color)!important;

}

@media (max-width: 769px) {
.menu-title{
font-size: 25px!important;
    font-weight: 600;

}
}