.auth-sub{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    }

    .auth-input textarea::placeholder {
font-style: italic;
      }
    @media (max-width: 992px) {
        .contain {
            padding: 30px!important;
        }
        .headings{
            font-size: 40px!important;
        }
        .location{
            height: 30vh!important;
        }

        .auth select {
            height: 50px;
            padding: 5px 20px 5px 20px; 
            // border-radius: 35px;
            border: 1px solid #ccc;
            outline: none; 
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            text-align: left!important;
            margin-bottom: 8px;
        }
        label{
            text-align: left!important;
        }
    }
    .auth-input input:focus {
        border-color: #3f51b5;
        padding: 17px 40px 17px 50px;
    }
    .headings{
        font-size: 50px;
        font-weight: 600;
        // color:var(--primary-color);
        }

        .auth-input input:focus {
            border-color: #3f51b5;
            padding: 17px 40px 17px 50px;
        }
        
        i{
        font-size: 20px;
        }
        .auth-input i {
            position: absolute;
            left: 15px;
            top: 50%; 
            transform: translateY(-50%);
        }
        .auth-input i:focus {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }

        .auth select {
            height: 60px;
            // padding: 17px 40px 17px 50px; 
            // border-radius: 35px;
            border: 1px solid #ccc;
            outline: none; 
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            text-align: center; 
        }

        .auth-input textarea {
            height: 60px;
            padding: 15px 40px 15px 40px;
            // border-radius: 35px;
            border: 1px solid #ccc;
            outline: none;
            width: 100%;
            font-size: 15px;
            font-weight: 500;
            overflow: hidden;
            // text-align: center;
        }

        .invalid-feedback {
            position: absolute;
            font-size: 14px;
            color: red;
        }

        .auth .submit{
            height: 50px;  
            width: 100%;
            border-radius: 50px;
            background-color: var(--primary-color);
            font-size: 16px;
            font-weight: 600;
            color: #FFFFFF;
            letter-spacing: -0.2px;
            
            }

            /* Example styling for the location icon */
/* Example styling for the location icon */
.location-icon {
    position: absolute;
    top: 50%;
    right: 20px; /* Adjust this value to position the icon horizontally */
    transform: translateY(-50%);
    color: #ccc; /* Adjust the color as needed */
    cursor: pointer;
  }
  
  
  
  .map-container {
  width: 100%;
  height: 400px; /* Adjust as needed */
//   margin-top: 20px; /* Add some spacing if needed */
}