


.shipping-head {
    color: #000;
    font-size: 22px;
    font-weight: 500;
}


.item-card .tag {
    font-size: 14px;
    font-weight: 500;
}

.item-card .tag span {
    font-size: 13px;
    font-weight: 500;
}

.item-card .amount {
    color: #15245E;
    font-size: 15px;
    font-weight: 700;
}
.cartItemPrice{
    font-family: 'Lato';
font-size: 16px;
font-weight: 500;
color: #15245E;
}
.ship-text{
    color: #8A91AB;
    font-size: 12px;
    font-weight: 400;
}


.total .heading {
    font-size: 15px !important;
    font-weight: 700;
    color: #1D3178;

}
.item-card .heading {
    font-size: 18px !important;
    font-weight: 700;
    color: #1D3178;

}

.item-card a{
    font-weight: 500;
    color: #000;
}
.total {

    /* height: 284px; */
    background-color: #F4F4FC;
    border-radius: 3px;
    text-align: center;
}

.total .proceed {
    background-color: #0097A8;
    color: white !important;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 3px;

}

.total input {
    height: 50px;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid #C7CEE4;
    background-color: transparent;
    color: black;
    font-size: 16px;
}

.info-btn .btn {
    /* height: 20px;
    width: 20px; */
    /* padding: 20px; */
    border-radius: 2px!important;
    color: white !important;
    background: #ED8939!important;

}

.ship-info{
    .card {
  border: 1px solid #ddd;
  border-radius: 5px;
  /* margin: 20px 0; */
}

.card-title {
  margin-bottom: 0;
}

.edit-link {
  color: #17a2b8;
  text-decoration: none;
}

.edit-link:hover {
  text-decoration: underline;
}

p {
  /* margin: 5px 0; */
}
.label {
  font-weight: 600;
  /* margin-bottom: 5px; */
  margin-right: 10px;
   margin-top: 0;
  margin-bottom: 20px;
}

.value {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 769px) {
  .label, .value {
    font-size: 16px;
  }}
}
.form-checks{
  border-bottom: 1px solid var(--stroke, #E6E6E6);
  padding: 15px 0px;
}
.form-checks label{
font-size: 17px;
font-weight: 400;
cursor: pointer;
}
.form-check-input{
  box-shadow: none !important;
  outline: none !important;
}