<div class="row mobile-only">
    <div class="col-lg-6" style="background-image: url(/assets/Images/login-image.jpg);">
        <div class="p-5">
            <img routerLink="" style="height: 45px;" src="/assets/Images/Color=White.png" alt="">
            
        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<section class="auth">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <section style="height: 100vh; display: flex; justify-content: center; align-items: center;">
            
                <div class="card-forget 
                shadow-md-lg shadow-xl-xl p-5">
                    <div class=""  style="display: flex; justify-content: center;">

                        <img routerLink="" class="d-none d-lg-block" style="height: 40px;" src="/assets/Images/logo.png" alt="">
                    </div>
                    <div class="py-5">

                        <div class="">
                            <h1 class="headings text-center slide-top">
                                <span style="color:var(--primary-color);">Create</span>&nbsp;<span style="color: black!important;"></span>a new Password
                            </h1>
                            <p class="text-muted">Enter a new password</p>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="login()" class="">
                            <div class="">
                                <div class="">
                        
                                    <label for=""  class="px-2 mb-1 {{
                                        isInvalid('password') ? 'red' : ''
                                      }}">Password</label>
                                    <div class="auth-input slide-right">
                                        <i class="bi bi-lock"></i>
                                        <input type="{{ passwordVisible ? 'text' : 'password' }}" class="auth {{
                                            isInvalid('password') ? 'error-input' : ''
                                          }}" formControlName="password" [ngClass]="{ 'is-invalid': isInvalid('password') }" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                        <button class="btn text-center" type="button" id="togglePassword" (click)="togglePasswordVisibility()">
                                            <i class="bi" [ngClass]="{ 'bi-eye': !passwordVisible, 'bi-eye-slash': passwordVisible }"></i>
                                        </button>
                                        <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('password')">
                                            {{ getErrorMessage('password', 'Password is required') }}
                                          </div>
                                                                            </div>

                                                                            <label for=""  class="px-2 mb-1 mt-2 {{
                                                                                isInvalid('confirmPassword') ? 'red' : ''
                                                                              }}">Re-type Password</label>
                                                                            <div class="auth-input slide-left">
                                                                                <i class="bi bi-lock"></i>
                                                                                <input type="{{ passwordVisible ? 'text' : 'password' }}" class="auth {{
                                                                                    isInvalid('confirmPassword') ? 'error-input' : ''
                                                                                  }}" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': isInvalid('confirmPassword') }" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                                                                <button class="btn text-center" type="button" id="togglePassword" (click)="togglePasswordVisibility()">
                                                                                    <i class="bi" [ngClass]="{ 'bi-eye': !passwordVisible, 'bi-eye-slash': passwordVisible }"></i>
                                                                                </button>
                                                                                <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('confirmPassword')">
                                                                                    {{ getErrorMessage('confirmPassword', 'Please confirm your password') }}
                                                                                  </div>
                                                                                                                    </div>
                                    <button class="submit mt-3" type="submit">Change</button>
                
            
                
                                </div>
                            </div>
                        </form>
                        <p class="text-center sign mt-3">New to Supplya? <a style="color: var(--primary-color); font-size: 16px;" routerLink="/auth/sign-up">Sign Up here</a></p>

                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-3"></div>
    </div>
</section>
