<div class="row mobile-only">
    <div class="col-lg-6" style="background-image: url(/assets/Images/login-image.jpg);">
        <div class="p-5">
            <img routerLink="" style="height: 45px;" src="/assets/Images/Color=White.png" alt="">
            
        </div>
    </div>
    <div class="col-lg-6">

    </div>
</div>

<section class="auth">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <section style="height: 100vh; display: flex; justify-content: center; align-items: center;">
            
                <div class="card-forget 
                shadow-md-lg shadow-xl-xl p-5">
                    <div class=""  style="display: flex; justify-content: center;">

                        <img routerLink="" class="d-none d-lg-block" style="height: 40px;" src="/assets/Images/logo.png" alt="">
                    </div>
                    <div class="py-5">

                        <div class="">
                            <h1 class="headings text-center slide-top">
                                <span style="color:var(--primary-color);">Create</span>&nbsp;<span style="color: black!important;"></span>a new Password
                            </h1>
                            <p class="text-muted">Enter a new password</p>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="changeAuthPassword()" class="">

                                <div class="">
                        
  <div class="mb-2 slide-left">
    <label for="password" class="content-label">Current Password</label>
    <div class="position-relative">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="currentPassword" id="password" class="content-input {{
                                      isInvalid('currentPassword') ? 'error-input' : ''
                                    }}" placeholder="Enter your password">
      <i (click)="togglePasswordVisibility('password')" [class]="showPassword ? 'bi bi-eye-slash password-toggle-icon' : 'bi bi-eye password-toggle-icon'"></i>
    </div>
    <small class="error-text mb-4" *ngIf="isInvalid('currentPassword')">
      {{ getErrorMessage('currentPassword', 'This field is required') }}
    </small>
  </div>
  
  <div class="mb-3 slide-right">
    <label for="newPassword" class="content-label">New Password</label>
    <div class="position-relative">
      <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword" id="newPassword" class="content-input {{
                                      isInvalid('newPassword') ? 'error-input' : ''
                                    }}" placeholder="Enter your new password">
      <i (click)="togglePasswordVisibility('newPassword')" [class]="showNewPassword ? 'bi bi-eye-slash password-toggle-icon' : 'bi bi-eye password-toggle-icon'"></i>
    </div>
    <small class="error-text mb-4" *ngIf="isInvalid('newPassword')">
      {{ getErrorMessage('newPassword', 'This field is required') }}
    </small>
  </div>
  
  <div class="mb-3 slide-left">
    <label for="confirmPassword" class="content-label">Confirm New Password</label>
    <div class="position-relative">
      <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword" class="content-input {{
                                      isInvalid('confirmPassword') ? 'error-input' : ''
                                    }}" placeholder="Confirm your password">
      <i (click)="togglePasswordVisibility('confirmPassword')" [class]="showConfirmPassword ? 'bi bi-eye-slash password-toggle-icon' : 'bi bi-eye password-toggle-icon'"></i>
    </div>
    <small class="error-text mb-4" *ngIf="isInvalid('confirmPassword')">
      {{ getErrorMessage('confirmPassword', 'This field is required') }}
    </small>
    <small class="error-text mb-4" *ngIf="form?.get('confirmPassword')?.touched && form.get('newPassword')?.value && form.get('confirmPassword')?.value && form.errors?.['passwordsMismatch']">
        Passwords do not match
      </small>
  </div>
                                    <button class="submit mt-3" type="submit">Change</button>
                
            
                
                           
                            </div>
                        </form>
                        <p class="text-center sign mt-3">New to Supplya? <a style="color: var(--primary-color); font-size: 16px;" routerLink="/auth/sign-up">Sign Up here</a></p>

                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-3"></div>
    </div>
</section>
