
.auth-sub{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    }
    
    /* Animation for bouncing circle */
    // @keyframes bounce {
    //     0% { transform: translateY(0); }
    //     50% { transform: translateY(-90px); }
    //     100% { transform: translateY(0); }
    // }
    
    // .bouncing-circle {
    //     animation: bounce 0.8s infinite;
    // }
    
    /* Animation for bouncing circles */
    @keyframes bounce {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-100px); }
        // 100% { transform: translateY(0); }
    }
    
    .bouncing-circle {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
    }
    
    /* First circle */
    .circle-1 {
        // top: 50%;
        left: 10%;
        background-color: var(--primary-color);
        animation: bounce 2s infinite ease-in-out alternate;
    }
    
    /* Second circle */
    .circle-2 {
        // top: 50%;
        left: 40%;
        background-color: white;
        animation: bounce 2s infinite ease-in-out alternate 0.5s; /* Delayed by 0.5s */
    }
    
    /* Third circle */
    .circle-3 {
        // top: 50%;
        background-color: var(--secondary-color);
        left: 70%;
        animation: bounce 2s infinite ease-in-out alternate 1s; /* Delayed by 1s */
    }
    
    .auth-heading{
    font-size: 56px;
    font-weight: 600;
    color: #fff;
    }
    
    .headings{
        font-size: 30px;
        font-weight: 600;
        // color:var(--primary-color);
        }
        .card-forget{
            border-radius: 30px;
            border: 1px solid #E8E8E8
            
        }
    .auth input {
        height: 50px;
        // padding: 17 144 17 25.4375;
        border-radius: 35px;
        width: 100%;   
    }
    .auth label{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: black;
    
    }
    .auth-input {
        position: relative;
        margin-bottom: 20px;
    }
    .divider{
        display: flex;
        justify-content: space-between;
    }
    .or-divider{
        border:  #ccc;
        height: 1px;
        width: 90%;
    }
    .auth-input input {
        height: 50px;
        padding: 17px 40px 17px 50px; /* Adjusted padding */
        border-radius: 35px;
        border: 1px solid #ccc;
        outline: none;
    }
    .sign{
        font-size: 15px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.20000000298023224px;    
    }
    
    @media (max-width: 992px) {
        .contain {
            padding: 30px!important;
        }
        .headings{
            font-size: 26px;
            text-align: left;
            font-weight: 900;
        }
        .card-forget{
            border: none;
        }
        .auth section{
            height: 85vh!important;
        }
    }
    .auth-input input:focus {
        border-color: #3f51b5;
        padding: 17px 40px 17px 50px;
    }
    
    i{
    font-size: 20px;
    }
    .auth-input i {
        position: absolute;
        left: 15px;
        top: 50%; 
        transform: translateY(-50%);
    }
    .auth-input i:focus {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .auth-input button {
        position: absolute;
        right: 30px;
        top: 50%;
        border: none !important;
        transform: translateY(-50%);
    }
    .auth-input button:focus {
        position: absolute;
        right: 30px;
        top: 50%;
        border: none !important;
        box-shadow: none !important;
        transform: translateY(-50%);
    }
    .auth .submit{
    height: 50px;  
    width: 100%;
    border-radius: 50px;
    background-color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: -0.2px;
    
    }
    .auth .remember{
    font-size: 14px;
    font-weight: 400;
    color: #A1A1AA;
    cursor: pointer;
    }
    .auth .forget{
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
    
    }
    .auth .forget:hover{
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
    
    }
    .invalid-feedback {
        position: absolute;
        font-size: 14px;
        color: red;
    }
    
    .auth-input input:focus {
        border-color: #3f51b5;
    }
    
    .sec{
        display: flex;
        justify-content: space-between!important;
    }
    
    
    .facebook {
        width: 100%;
        height: 50px;
        background-color: #1877F2;
        border-radius: 171px;
        color: white;
        border: none !important;
        font-size: 15px;
        font-weight: 500;
      
    }
    
    .google {
        width: 100%;
        height: 50px;
        background-color: #1D1D1D;
        border-radius: 171px;
        color: white;
        border: none !important;
    
        font-size: 15px;
        font-weight: 500;
    
    }
    
    .sign{
        font-size: 15px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.20000000298023224px;    
    }
    
    .position-relative {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  font-size: 20px;
}
.profile-picture-container{
  margin-right: 20px;
}

.change-password{
  padding-left: 150px;
  padding-right: 150px;
}
.img-name{
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
.change-password{
  padding-left: 0px;
  padding-right: 0px;
}

}