

<div  class="d-flex flex-column flex-lg-row " style="background-color: #F8F8F8!important; height: 100vh!important;">
  <!-- Vertical Navbar -->
 <app-sidebar></app-sidebar>

  <!-- Main content -->
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <!-- Header -->
   <app-header></app-header>
    <main class="custom-container">
       <div class="d-flex justify-content-between">

          <div class="d-flex align-items-center mb-3 px-3">
            <p *ngIf="pageTitle !== 'Dashboard'" class="mb-0 step-one pointer">
              {{ 'Dashboard' }}
            </p>
            <!-- &nbsp;
            <svg
              width="12"
              height="12"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.66666 3.3335L11.3088 7.97561L6.66666 12.6177"
                stroke="#14142B"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg> -->
            <!-- &nbsp; -->
            <!-- <p class="mb-0 step-two pointer">
    
            </p> -->
          
            <div class="d-flex align-items-center">
              
              &nbsp;
              <svg *ngIf="pageTitle !== 'Dashboard'"
                width="12"
                height="12"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.66666 3.3335L11.3088 7.97561L6.66666 12.6177"
                  stroke="#14142B"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              &nbsp;
              <p class="mb-0 step-two pointer">
                {{ pageTitle }}
              </p>
            </div>
          
         
          </div>
          <app-back-button></app-back-button>
        </div>

         <section>
        <app-internet-offline></app-internet-offline>
      </section>
      <router-outlet ></router-outlet>
    </main>
  </div>
</div>