
.custom-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 12px;
    padding-bottom: 15px;
    background: #f7f7f800!important;
    
  }
  @media (max-width: 992px) {
    .custom-container {
      margin-right: auto;
      margin-left: auto;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 15px;
    }
}
 
  .step-two {
    color: var(--primary-color)!important;
    font-size: 15px!important;
    font-weight: 500!important;
}

.step-one {
    color: #4E4B66!important;
    font-size: 14px!important;
    font-weight: 500!important;
}