.custom-container {
    padding-right: 35px!important;
    padding-left: 35px!important;
    padding-top: 20px!important;
    padding-bottom: 15px!important;
    background-color: #e3e5e532!important;
    height: 89vh!important;
  }
  
  @media (max-width: 992px) {
    .custom-container {
      margin-right: auto;
      margin-left: auto;
      padding-right: 10px!important;
      padding-left: 10px!important;
      padding-top: 15px!important;
      padding-bottom: 15px!important;
    }
}

.step-two {
  color: var(--primary-color)!important;
  font-size: 15px!important;
  font-weight: 500!important;
}

.step-one {
  color: #667085!important;
  font-size: 14px!important;
  font-weight: 500!important;
}