.navbar{
    height: 10vh!important;
   
  }

.nav-item .nav-link {
    display: block;
    font-weight: 500;
    font-size: 15px;
    color: #000!important;
    padding-left: 30px!important;
    cursor: pointer;
    position: relative;
    overflow: hidden; 
  }
  

  .nav-item .nav-link::before {
    content: "";
    position: absolute;
    left: -100%; /* Initial position off-screen to the left */
    bottom: 0;
    width: 80%;
    height: 2px;
    background-color: #ffc222;
    transition: left 0.3s; /* Add transition for left property */
  }
  
  .nav-item .nav-link:hover::before {
    left: 20%; /* Move the border in from the left on hover */
  }
  

 .offcanvas{
  width: 300px!important;
 }


 .offcanvas-body .navbar-nav .nav-item .nav-link {
  border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
}

.userName{
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.dropdown-item:hover{
  background-color: var(--primary-color);
  color: #fff;
}



.auth {
  height: 45px;
  padding: 17px 40px 17px 50px; 
  border-radius: 35px;
  border: 1px solid #ccc;
  outline: none;
  width: 600px;
}
.auth-input input:focus {
    border-color: var(--primary-color);
    padding: 17px 40px 17px 50px;
}

i{
font-size: 20px;
}
.auth-input i {
    position: absolute;
    left: 15px;
    top: 50%; 
    transform: translateY(-50%);
}
.auth-input i:focus {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.below-bar {
  background-color: var(--primary-color);
  display: flex;
  align-items: center!important;
  justify-content: space-between;
  padding: 0 150px!important;
  border-bottom: 1px solid #ccc;
}

.below-bar li,
.below-bar a {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: white;
  text-decoration: none;
}
.below-bar .dropdown-item {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000;
  text-decoration: none;
  margin-top: 5px;
}
.below-bar .dropdown-menu {
  background: #fff;

}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.below-bar a:hover {
  color: var(--secondary-color);
}
.below-bar .dropdown-menu a:hover {
  color: #fff;
  background-color: var(--neutral-color);
}

.below-bar .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 600px;
  z-index: 1;
}

.below-bar .dropdown:hover .dropdown-menu {
  display: block;
}


