<section id="flash-products" class="mb-3">
  <section class="row" *ngIf="loading && !products && !error">
    <div class="py-5 p-5 center">
      <div>
        <img style="height: 100px;" src="/assets/Images/requestLoading.gif" alt="">
        <p class="loading-text text-center text-muted">Loading...</p>
      </div>
    </div>
  </section >

  <section class="center" *ngIf="!products && !loading && error">
    <div class="py-5">
      <div class="py-3 text-center">
        <img src="/assets/Images/oops.png" style="height: 100px;" alt="">
        <p class="loading-text text-muted py-3">Could not display flash products. Click 'Refresh' to try again.</p>
        <p class="refresh" (click)="onRefresh()">Refresh <i class="bi bi-arrow-repeat"></i></p>
      </div>
    </div>
  </section>

  <section *ngIf="products?.length > 0 && !loading && !error">
    <div class="container">
      <div class="py-2" style="display: flex; justify-content: space-between;">
        <div>
          <p class="home-heading">{{heading}}</p>
        </div>
        <div>
          <p class="see-all mt-2">See All</p>
        </div>
      </div>

      <!-- FLASH SALES Products -->
      <div class="row">
        <div class="col-lg-12">
          <div class="product-container">
            <div class="d-flex flex-nowrap mb-3">
              <!-- Product cards -->
              <div class="col-lg-auto" *ngFor="let product of products">
                <div class="card border-0 products me-4 mb-2">
                  <!-- Placeholder background image -->
                  <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
                    <!-- Love icon for wishlist -->
                    <span class="love-icon mt-2" (click)="onToggleWishlist(product)"><i class="bi bi-heart"></i></span>
                    <!-- Product image -->
                    <img (click)="onViewProduct(product?._id)" [src]="product?.image" alt="Product Image">
                  </div>
                  <div class="card-body">
                    <!-- Product name -->
                    <h5 class="card-title">
                      <div class="marquee" (click)="onViewProduct(product?._id)">{{ product?.name }}</div>
                    </h5>
                    <!-- Star rating -->
                    <div class="star-rating">
                      <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
                      <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
                    </div>
                    <!-- Product amount and cart icon -->
                    <div class="price-and-cart">
                      <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
                      <span *ngIf="!ifAddedToCart(product)" (click)="onAddToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
                      <span *ngIf="ifAddedToCart(product)" (click)="onToCart()" class="cart-icon view">View</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of product cards -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
