.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col-lg-4, .col-md-6 {
  flex: 1 1 calc(33.333% - 20px); /* Three columns on large screens */
  max-width: calc(33.333% - 20px);
}

@media (max-width: 992px) {
  .col-lg-4, .col-md-6 {
    flex: 1 1 calc(50% - 20px); /* Two columns on medium screens */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .col-lg-4, .col-md-6 {
    flex: 1 1 100%; /* One column on small screens */
    max-width: 100%;
  }
}

.card {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  flex-grow: 1;
}

.card-footer {
  padding: 15px;
  text-align: center;
  background-color: transparent;
}

.card-text {
  color: #6c757d;
  font-size: 14px;
  margin-bottom: 10px;
}
.card-text span{
    color: var(--primary-color);
}
.card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
}
.card-title:hover{
color: var(--primary-color);
}

.card-footer .btn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.card-footer .btn:hover {
  background-color: var(--primary-color);
  color: white;
}

