<app-navbar></app-navbar>

<section>
  <section class="row" *ngIf="detailsLoading && !vendor && !detailsError">
    <div class="py-5 p-5 center">
      <div>
        <img style="height: 100px;" src="/assets/Images/requestLoading.gif" alt="">
        <p class="loading-text text-center text-muted">Loading...</p>
      </div>
    </div>
  </section >

  <section class="center" *ngIf="!vendor && !detailsLoading && detailsError">
    <div class="py-5">
      <div class="py-3 text-center">
        <img src="/assets/Images/oops.png" style="height: 100px;" alt="">
        <p class="loading-text text-muted py-3">Could not display vendor information. Click 'Refresh' to try again.</p>
        <p class="refresh" (click)="getStoreInfo()">Refresh <i class="bi bi-arrow-repeat"></i></p>
      </div>
    </div>
  </section>
  <section *ngIf="!detailsLoading && vendor && !detailsError" 
  class="vendor-store"
  [ngStyle]="{ 'background-image': vendor?.storeImage ? 'url(' + vendor?.storeImage + ')' : 'url(/assets/Images/logo.png)' }"
>
  <div class="vendor-info text-center">
    <div class="overlay"></div>
    <h2 class="vendor-name text-white">{{ capitalizeFirstLetter(vendor?.storeName) }}</h2>
    <p class="vendor-description text-white">{{ vendor?.address }}</p>
    <div class="vendor-contact text-white">
      <span *ngIf="vendor?.phoneNumber"><i class="bi bi-telephone"></i> {{ vendor?.phoneNumber }}</span>
      <span *ngIf="vendor?.email"><i class="bi bi-envelope"></i> {{ vendor?.email }}</span>
    </div>

    <h5 style="background-color: white; font-weight: 600; width: max-content; margin: 0 auto; padding: 10px 15px; font-size: 14px!important;" class="text-center text-white mt-3 cursor-pointer text-primary " (click)="downloadQRCode()">Download Store QR</h5>
  </div>
</section>






  
  
  <!-- <section class="py-5">
  
      
          <app-product-list class="py-5"
                [products]="products"
                [loading]="loading"
                [error]="error"
                heading="Products"
                [addedItems]="AllAddedItems"
                (refresh)="getProducts()"
                (toggleWishlist)="toggleWishlist($event)"
                (viewProduct)="viewProduct($event)"
                (addToCart)="addToCart($event)"
                (toCart)="toCart()">
              </app-product-list>
  </section> -->
  <section class="py-5">
    <app-grid-product-list 
      [products]="products"
      [loading]="loading"
      [error]="error"
      heading="Products"
      [addedItems]="AllAddedItems"
      [totalProducts]="totalProducts"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (refresh)="getStoreProducts()"
      (toggleWishlist)="toggleWishlist($event)"
      (viewProduct)="viewProduct($event)"
      (addToCart)="addToCart($event)"
      (toCart)="toCart()"
      [getStarsArray]="getStarsArray.bind(this)" 
    [getEmptyStarsArray]="getEmptyStarsArray.bind(this)"
      >
    </app-grid-product-list>
  </section>
</section>

<!-- <div  class="qr-container"  id="qrContainer">
  <img src="/assets/Images/qr-banner.jpg" alt="Background Image" class="background-img">
  <div class="overlay">
    <img [src]="qrCodeUrl" alt="QR Code" class="custom-qr">
    
    <p style="font-size: 16px!important; font-weight: 300;" class="qr-text px-4 mt-3 ">Shop with ease at <span class="text-secondary fw-bold">
{{ capitalizeFirstLetter(vendor?.storeName) }} store! <br>
    </span>  Scan this QR to visit our store on Supplya today.</p>
  </div>
</div> -->
<div class="qr-container hidden" id="qrContainer">
  <img src="/assets/Images/qr-banner.jpg" alt="Background Image" class="background-img">
  <div class="overlay">
    <img [src]="qrCodeUrl" alt="QR Code" class="custom-qr">
    <p style="font-size: 16px!important; font-weight: 300;" class="qr-text px-4 mt-3">
      Shop with ease at <span class="text-secondary fw-bold">{{ capitalizeFirstLetter(vendor?.storeName) }} store! <br></span>
      Scan this QR to visit our store on Supplya today.
    </p>
  </div>
</div>

<app-footer></app-footer>
