.hero-section {
  // background-color: #f8f9fa;
  // min-height: 80vh;
  // display: flex;
  // align-items: center;
  background: #0199A41A;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-address {
  font-size: 1.2rem;
  color: #6c757d;
}

.hero-contact i {
  color: var(--primary-color);
  margin-right: 5px;
}

.hero-background {
  min-height: 600px;
}
.headings{
  border: 1px solid var(--primary-color)!important;
  color: var(--primary-color)!important;
  width: max-content;
  padding: 10px;
  font-size: 16px!important;
}
@media (max-width: 769px) {
  .headings{
    width: 100%!important;
    font-size: 15px!important;
  }

  .hero-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.hero-address {
  font-size: 1rem;
  color: #6c757d;
}
}

.hero-image {
  width: 100%;
  height: 400px!important;
  border-radius: 12px;
  // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  transition: all 0.5s ease-in-out;
}



.custom-qr {

}
.qr-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.custom-qr {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  margin-bottom: 10px;
}

.qr-text {
  color: white; /* Adjust the text color */
  font-size: 1.2rem;
  text-align: center;
}
.hidden {
  display: none;
}

.show {
  display: block;
}
.vendor-store {
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  .vendor-info {
    position: relative;
    z-index: 1;
      padding-top: 80px !important;
  padding-bottom: 80px !important;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.701);
      z-index: -1;
    }
.vendor-name{
  font-size: 50px !important;
}
    .vendor-logo {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 3px solid #ffcc00;
      z-index: 2;
    }

    .vendor-contact {
      margin-top: 15px;

      span {
        display: block;
        margin: 5px 0;
      }
    }
  }
}
