
 .heroLeft h6 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #000000;
}

.heroLeft h5 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0em;
    color: white;
}
.heroLeft h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
}

.heroLeft p {

    font-size: 18px;
    font-weight: 400;
    color: #fff;


}

.heroLeft button {

    padding: 14px 40px;
    animation-duration: 0ms;
    background-color: var(--neutral-color);
    border-radius: 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}



.category .card{
    background: #EBEBEB;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
    margin-bottom: 15px;

}
.category .card img{
    height: 80px;

}
// .category .row{
//     padding: 70px 130px 70px 130px;
// }
.category .card p{
font-size: 17px;
font-weight: 600;
line-height: 16.8px;
color: #000;
cursor: pointer;

}


.home-heading{
font-size: 39px;
font-weight: 600;
line-height: 38.4px;
text-align: left;
color: #000;

}

.see-all{
color: var(--primary-color);
font-size: 18px;
font-weight: 600;
line-height: 20px;
text-decoration: underline;
}
.see-all-white{
color: #fff;
font-size: 18px;
font-weight: 600;
line-height: 20px;
text-decoration: underline;
}




.listed{
    .row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-2,
.col-md-4,
.col-sm-6 {
  display: flex;
  align-items: stretch;
}

.border {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

}
@media screen and (max-width: 767px) {
 .home-heading{
font-size: 25px;
font-weight: 600;
line-height: 38.4px;
text-align: left;
color: #000;

}

}


.deals .deals-heading{
color: white;
font-size: 24px;
font-weight: 600;
line-height: 28.8px;

}

/* QUALITY SECTION */
.qualityRight h5 {

    font-size: 65px;
    font-weight: 700;
    color: #000;

}
.qualityRight h3 {

    font-size: 40px;
    font-weight: 700;
    color: #000;

}

.qualityRight p {

    font-size: 18px;
    font-weight: 400;
    color: #111111;

}

.qualityRight button {

    padding: 14px 60px;

}

.choose h5 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;

}

.discount {
    border-radius: 20px;
    background-color: var(--primary-color)1A;
   
}

.discount h5 {

    font-size: 40px;
    font-weight: 700;
    /* line-height: 67px; */
    letter-spacing: 0em;



}

.discount p {
    font-size: 18px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.02em;
}

.discount input {

    height: 50.5px;
    border-radius: 8px;
    border: 1px;
}

.discount input:focus {
    box-shadow: none;
    height: 50.5px;
    border-radius: 8px;
    border: 1px solid #41189a5a;

}

.discount label {
    font-size: 14px;
    font-weight: 400;
}

.discount ::placeholder {
    font-size: 13px;
    font-weight: 400;
}

.retail {
    background-image: url(/assets/Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: max-content;
    height: max-content; */
    display: flex;
    justify-content: center;
    align-items: center!important;
}
.retail-mobile {
   background-color: var(--primary-color);
   border-radius: 30px 30px 30px 30px !important;
}

.retail-mobile h5 {

   font-size: 40px;
   font-weight: 500;
   color: white;

}


.retail-mobile p {
   font-family: DM Sans;
   font-size: 16px;
   font-weight: 400;
   color: white;


}

.retail h5 {

    font-size: 48px;
    font-weight: 700;
    color: white;

}

.retail p {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    color: white;


}
.core{
   width: 80%;
   justify-content: center;
   margin: 0 auto!important;
}
.core h6{
color: white;
font-size: 20px;
font-weight: 700;
padding: 10px;
}
.core p{
   
   font-size: 15px;
   font-weight: 400;
   color: white;
   
   

}

.background-section {
   background-image: url(/assets/Images/background.jpg);
   background-size: cover;
   background-position: center;
   height: 50vh;
}

.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white!important;
     border: none;
}

.carousel-indicators .active {
    background-color: var(--secondary-color)!important;
    border: none;

}

.slide-background-1 {
    background: url(/assets/Images/hero%20banner%204.png);
    background-size: cover;
    background-position: center;
}

.slide-background-2 {
    background-color: var(--primary-color);
}

.text-white {
    color: white !important;
}

  .new{
font-size: 18px;
font-weight: 600;
line-height: 38.4px;
color: #000000;

    }