<app-navbar></app-navbar>

<section>
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">

      
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active slide-background-1">
                <div class="py-5 container">
                    <div class="row py-5 heroLeft">
                        <div class="col-lg-6 py-5 d-flex align-items-center">
                            <div class="px-5 d-none d-lg-block">
                                <h5 class="slide-left">You’ve got a Product?</h5>
                                <p class="slide-right">Lets connect you to potential buyers, <br>
                                  Create a vendor account and start selling</p>
                                <div class="py-2">
                                    <button class="btn slide-bottom" routerLink="/auth/sign-up">Sign Up Now</button>
                                </div>
                            </div>
                            <div class="px-3 mobile-only">
                                <h3 class="zoom-in text-white mb-3">You’ve got a Product?</h3>
                                <p class="slide-right">Lets connect you to potential <br> buyers. 
                                  Create a vendor account<br> and start selling</p>
                                <div class="py-3">
                                    <button class="btn slide-bottom" routerLink="/auth/sign-up">Sign Up Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item slide-background-1">
                <div class="py-5 container">
                    <div class="row py-5 heroLeft">
                        <div class="col-lg-6 py-5 d-flex align-items-center">
                            <div class="px-5 d-none d-lg-block">
                                <h5 class="slide-left">Looking for something?</h5>
                                <p class="slide-right">Find thousands of products from various vendors.</p>
                                <div class="py-2">
                                    <button class="btn slide-bottom" (click)="shop()">Shop Now</button>
                                </div>
                            </div>
                            <div class="px-3 mobile-only">
                                <h3 class="zoom-in text-white mb-3">Looking for something?</h3>
                                <p class="slide-right">Find thousands of products <br> from various vendors.</p>
                                <div class="py-3">
                                    <button class="btn slide-bottom" (click)="shop()">Shop Now</button>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="carousel-item slide-background-1">
                <div class="py-5 container">
                    <div class="row py-5 heroLeft">
                        <div class="col-lg-6 py-5 d-flex align-items-center">
                            <div class="px-5 d-none d-lg-block">
                                <h5 class="slide-left">Join our community</h5>
                                <p class="slide-right">Be a part of our growing community of buyers and sellers.</p>
                                <div class="py-2">
                                    <button class="btn slide-bottom" routerLink="/auth/sign-up">Join Now</button>
                                </div>
                            </div>
                            <div class="px-3 mobile-only">
                                <h3 class="zoom-in text-white mb-2">Join our <br> community</h3>
                                <p class="slide-right">Be a part of our <br>growing community of <br> buyers and sellers.</p>
                                <div class="py-3">
                                    <button class="btn slide-bottom" routerLink="/auth/sign-up">Join Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button> -->
    </div>
</section>







<!-- CATEGORIES -->
 <Section class="category py-5">
  <div class="container">
    <div class="row">
      <div [routerLink]="['/core/operation/products/category', category.name]" class="col-lg-3 cursor-pointer" *ngFor="let category of productCategories">
        <div class="card border-0">
          <div class="d-flex justify-between align-items-center">
            <div class="me-2">
              <img [src]="category.imgSrc" alt="">
            </div>
            <div>
              <P >{{ category.displayName }}</P>
            </div>
            &nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>
<!-- <Section class="category py-5">
<div class="container">
  <div class="row">
    <div class="col-lg-3">
  <div class="card border-0">
  <div  class="d-flex justify-between align-items-center">
    <div>
      <img src="/assets/Images/Fruits-veg.png" alt="">
    </div>
    <div>
      <p>Fruits and Vegetables</p>
    </div>
    &nbsp;&nbsp;&nbsp;
  </div>
  </div>
    </div>
    <div class="col-lg-3">
  <div class="card border-0">
  <div  class="d-flex justify-between align-items-center">
    <div>
      <img src="/assets/Images/Meat-poultry.png" alt="">
    </div>
    &nbsp;&nbsp;&nbsp;
    <div>
      <p>Meat and Poultry </p>
    </div>
    
  </div>
  </div>
    </div>
    <div class="col-lg-3">
  <div class="card border-0">
  <div  class="d-flex justify-between align-items-center">
    <div>
      <img src="/assets/Images/Dairy.png" alt="">
    </div>
    &nbsp;&nbsp;&nbsp;
    <div>
      <p>Dairy</p>
    </div>
  </div>
  </div>
    </div>
    <div class="col-lg-3">
  <div class="card border-0">
  <div  class="d-flex justify-between align-items-center">
    <div>
      <img src="/assets/Images/snack.png" alt="">
    </div>
    &nbsp;&nbsp;&nbsp;
    <div>
      <p>Baking</p>
    </div>
  </div>
  </div>
    </div>
    <div class="col-lg-3">
  <div class="card border-0">
  <div  class="d-flex justify-between align-items-center">
    <div>
      <img src="/assets/Images/Grains-Flour.png" alt="">
    </div>
    &nbsp;&nbsp;&nbsp;
    <div>
      <p>Grains & Flour</p>
    </div>
  
  </div>
  </div>
    </div>
  
    <div class="col-lg-3">
      <div class="card border-0">
      <div class="d-flex justify-between align-items-center">
        <div>
          <img src="/assets/Images/condiments-seasoning.png" alt="">
        </div>
        &nbsp;&nbsp;&nbsp;
        <div>
          <p>Condiments & Seasonings</p>
        </div>
      </div>
      </div>
        </div>
  
    <div class="col-lg-3">
  <div class="card border-0">
  <div class="d-flex justify-between align-items-center">
    <div>
      <img src="/assets/Images/Drinks-beverages.png" alt="">
    </div>
  
    &nbsp;&nbsp;&nbsp;
    <div>
      <p>Drinks & Beverages</p>
    </div>
  </div>
  </div>
    </div>
  
    <div class="col-lg-3">
  <div class="card border-0">
  <div class="d-flex justify-between align-items-center">
    <div>
      <img src="/assets/Images/Oil.png" alt="">
    </div>
    <div>
      <p>Oil</p>
    </div>
  </div>
  </div>
    </div>
  </div>
</div>
</Section> -->

<!-- FLASH SALES -->
<!-- <app-product-list
  [products]="flashProducts"
  [loading]="flashProductLoading"
  [error]="flashProductError"
  heading="Flash Sales"
  (refresh)="refreshFlashProducts()"
  (toggleWishlist)="toggleWishlist($event)"
  (viewProduct)="viewProduct(flashProducts?._id)"
  (addToCart)="addToCart($event)"
  (toCart)="toCart()">
</app-product-list> -->
<section id="flash-products" class="mb-3">


   <section class="row" *ngIf="flashProductLoading && !flashProducts && !flashProductError">
    <div class="py-5 p-5 center">
        <div>
    
            <img style="height: 100px;" src="/assets/Images/requestLoading.gif" alt="">
            <p class="loading-text text-center text-muted">Loading...</p>
        </div>
    </div>
          </section >
    
          <section class=" center" *ngIf="!flashProducts && !flashProductLoading && flashProductError">
            <div class="py-5 ">
              <div class="py-3 text-center" >
                <img src="/assets/Images/oops.png" style="height: 100px;" alt="">
                <p class="loading-text  text-muted py-3">Could not display flash products. Click 'Refresh' to try again.
            </p>
                <p class="refresh" (click)="refreshFlashProducts()">Refresh <i class="bi bi-arrow-repeat"></i></p>
              </div>
            </div>
          </section>
  <section *ngIf="flashProducts?.length > 0 && !flashProductLoading && !flashProductError">
  <div class="container">
    <div class="py-2" style="display: flex; justify-content: space-between;">
  <div>
    <p class="home-heading">Flash Sales</p>
  </div>
  <div>
    <p class="see-all mt-2" routerLink="/view-products/flash">See All</p>
  </div>
    </div>
  
   <!-- FLASH SALES Products -->
      <div class="row">
        <div class="col-lg-12">
  <div class="product-container">
    <div class="d-flex flex-nowrap mb-3">
      <!-- Product cards -->
      <div class="col-lg-auto" *ngFor="let product of flashProducts">
        <div class="card border-0  products me-4 mb-2">
          <!-- Placeholder background image -->
          <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
            <!-- Love icon for wishlist -->
            <span class="love-icon mt-2" (click)="toggleWishlist(product)"><i class="bi bi-heart"></i></span>
            <!-- Product image -->
            <img (click)="viewProduct(product?._id)" [src]="product?.image" alt="Product Image">
          </div>
          <div class="card-body">
            <!-- Product name -->
            <h5 class="card-title">
              <div class="marquee" (click)="viewProduct(product?._id)">{{ product?.name }}</div>
            </h5>
            <!-- Star rating -->
            <div class="star-rating">
              <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
              <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
            </div>
            <!-- Product amount and cart icon -->
            <div class="price-and-cart">
              <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
              <span *ngIf="!ifAddedToCart(product)" (click)="addToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
              <span *ngIf="ifAddedToCart(product)" (click)="toCart()" class="cart-icon view">View</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of product cards -->
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
        </div>
    
    
  </div>
  </section>
</section>





<!-- DEALS OF THE DAY -->

<section id="new-arrivals" class="mb-3 deals">
  <section class="row" *ngIf="newArrivalLoading && !newArrivals && !newArrivalError">
    <div class="py-5 p-5 center">
        <div>
    
            <img style="height: 100px;" src="/assets/Images/requestLoading.gif" alt="">
            <p class="loading-text text-center text-muted">Loading...</p>
        </div>
    </div>
          </section >
    
          <section class=" center" *ngIf="!newArrivals && !newArrivalLoading && newArrivalError">
            <div class="py-5 ">
              <div class="py-3 text-center" >
                <img src="/assets/Images/oops.png" style="height: 100px;" alt="">
                <p class="loading-text  text-muted py-3">Could not display Arrival products. Click 'Refresh' to try again.
            </p>
                <p class="refresh" (click)="refreshNewArrival()">Refresh <i class="bi bi-arrow-repeat"></i></p>
              </div>
            </div>
          </section>
  <section *ngIf="newArrivals?.length > 0 && !newArrivalLoading && !newArrivalError">
  <div class="container">
    <div class="px-3 mb-2" style="display: flex; justify-content: space-between; align-items: center; background-color: var(--primary-color);">
      <div>
        <p class="deals-heading mt-3">Deals of the day</p>
      </div>
      <div>
        <p class="see-all-white mt-3" routerLink="/view-products/arrival">See All</p>
      </div>
        </div>
  
        <!-- DEALS OF THE DAY -->
        <div class="row">
        <div class="col-lg-12">
  <div class="product-container">
    <div class="d-flex flex-nowrap mb-3">
      <!-- Product cards -->
      <div class="col-lg-auto" *ngFor="let product of newArrivals">
        <div class="card border-0  products me-4 mb-2">
          <!-- Placeholder background image -->
          <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
            <!-- Love icon for wishlist -->
            <span class="love-icon mt-2" (click)="toggleWishlist(product)"><i class="bi bi-heart"></i></span>
            <!-- Product image -->
            <img (click)="viewProduct(product?._id)" [src]="product?.image" alt="Product Image">
          </div>
          <div class="card-body">
            <!-- Product name -->
            <h5 class="card-title">
              <div class="marquee" (click)="viewProduct(product?._id)">{{ product?.name }}</div>
            </h5>
            <!-- Star rating -->
            <div class="star-rating">
              <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
              <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
            </div>
            <!-- Product amount and cart icon -->
            <div class="price-and-cart">
              <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
              <span *ngIf="!ifAddedToCart(product)" (click)="addToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
              <span *ngIf="ifAddedToCart(product)" (click)="toCart()" class="cart-icon view">View</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of product cards -->
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
        </div>
  </div>
  </section>
</section>


<!-- POPULAR ITEMS -->

<section class="mb-5 mt-3">

 <section class="row" *ngIf="loading && !products && !productsError">
    <div class="py-5 p-5 center">
        <div>
    
            <img style="height: 100px;" src="/assets/Images/requestLoading.gif" alt="">
            <p class="loading-text text-center text-muted">Loading...</p>
        </div>
    </div>
          </section >
    
          <section class=" center" *ngIf="!products && !loading && productsError">
            <div class="py-5 ">
              <div class="py-3 text-center" >
                <img src="/assets/Images/oops.png" style="height: 100px;" alt="">
                <p class="loading-text  text-muted py-3">Could not display products. Click 'Refresh' to try again.
            </p>
                <p class="refresh" (click)="refreshProducts()">Refresh <i class="bi bi-arrow-repeat"></i></p>
              </div>
            </div>
          </section>

  <section *ngIf="products?.length > 0 && !loading && !productsError">
    <div class="container">
  
      <div class="py-2" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          <p class="home-heading mt-3">Special Deals</p>
        </div>
        <div>
          <p class="see-all mt-3" routerLink="/view-products/trending">See All</p>
        </div>
          </div>
  
          <div class="row">
            <div class="col-lg-4" style="background: url('/assets/Images/Web-side-Banner1-380x752.png') no-repeat center center; background-size: cover;">
  
            </div>
            <div class="col-lg-8">
              <div class="row">
        <div class="col-lg-12">
  <div class="product-container">
    <div class="d-flex flex-nowrap mb-3">
      <!-- Product cards -->
      <div class="col-lg-auto" *ngFor="let product of trendingProducts">
        <div class="card border-0  products me-4 mb-2">
          <!-- Placeholder background image -->
          <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
            <!-- Love icon for wishlist -->
            <span class="love-icon mt-2" (click)="toggleWishlist(product)"><i class="bi bi-heart"></i></span>
            <!-- Product image -->
            <img (click)="viewProduct(product?._id)" [src]="product?.image" alt="Product Image">
          </div>
          <div class="card-body">
            <!-- Product name -->
            <h5 class="card-title">
              <div class="marquee" (click)="viewProduct(product?._id)">{{ product?.name }}</div>
            </h5>
            <!-- Star rating -->
            <div class="star-rating">
              <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
              <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
            </div>
            <!-- Product amount and cart icon -->
            <div class="price-and-cart">
              <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
              <span *ngIf="!ifAddedToCart(product)" (click)="addToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
              <span *ngIf="ifAddedToCart(product)" (click)="toCart()" class="cart-icon view">View</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of product cards -->
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
        </div>
 <div class="row">
        <div class="col-lg-12">
  <div class="product-container">
    <div class="d-flex flex-nowrap mb-3">
      <!-- Product cards -->
      <div class="col-lg-auto" *ngFor="let product of lastToFirstProducts">
        <div class="card border-0  products me-4 mb-2">
          <!-- Placeholder background image -->
          <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
            <!-- Love icon for wishlist -->
            <span class="love-icon mt-2" (click)="toggleWishlist(product)"><i class="bi bi-heart"></i></span>
            <!-- Product image -->
            <img (click)="viewProduct(product?._id)" [src]="product?.image" alt="Product Image">
          </div>
          <div class="card-body">
            <!-- Product name -->
            <h5 class="card-title">
              <div class="marquee" (click)="viewProduct(product?._id)">{{ product?.name }}</div>
            </h5>
            <!-- Star rating -->
            <div class="star-rating">
              <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
              <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
            </div>
            <!-- Product amount and cart icon -->
            <div class="price-and-cart">
              <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
              <span *ngIf="!ifAddedToCart(product)" (click)="addToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
              <span *ngIf="ifAddedToCart(product)" (click)="toCart()" class="cart-icon view">View</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of product cards -->
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
        </div>
            </div>
          </div>
    </div>
  </section>
</section>



<section class="mb-5 mt-3">
  <div class="container">

    <div class="py-2" style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <p class="home-heading mt-3">Popular items this season</p>
      </div>
      <div>
        <p class="see-all mt-3" routerLink="/view-products/all">See All</p>
      </div>
        </div>

        <div class="row">

          <div class="col-lg-8">
            <div class="row">
        <div class="col-lg-12">
  <div class="product-container">
    <div class="d-flex flex-nowrap mb-3">
      <!-- Product cards -->
      <div class="col-lg-auto" *ngFor="let product of products">
        <div class="card border-0  products me-4 mb-2">
          <!-- Placeholder background image -->
          <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
            <!-- Love icon for wishlist -->
            <span class="love-icon mt-2" (click)="toggleWishlist(product)"><i class="bi bi-heart"></i></span>
            <!-- Product image -->
            <img (click)="viewProduct(product?._id)" [src]="product?.image" alt="Product Image">
          </div>
          <div class="card-body">
            <!-- Product name -->
            <h5 class="card-title">
              <div class="marquee" (click)="viewProduct(product?._id)">{{ product?.name }}</div>
            </h5>
            <!-- Star rating -->
            <div class="star-rating">
              <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
              <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
            </div>
            <!-- Product amount and cart icon -->
            <div class="price-and-cart">
              <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
              <span *ngIf="!ifAddedToCart(product)" (click)="addToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
              <span *ngIf="ifAddedToCart(product)" (click)="toCart()" class="cart-icon view">View</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of product cards -->
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
        </div>
             <div class="row">
        <div class="col-lg-12">
  <div class="product-container">
    <div class="d-flex flex-nowrap mb-3">
      <!-- Product cards -->
      <div class="col-lg-auto" *ngFor="let product of products">
        <div class="card border-0  products me-4 mb-2">
          <!-- Placeholder background image -->
          <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
            <!-- Love icon for wishlist -->
            <span class="love-icon mt-2" (click)="toggleWishlist(product)"><i class="bi bi-heart"></i></span>
            <!-- Product image -->
            <img (click)="viewProduct(product?._id)" [src]="product?.image" alt="Product Image">
          </div>
          <div class="card-body">
            <!-- Product name -->
            <h5 class="card-title">
              <div class="marquee" (click)="viewProduct(product?._id)">{{ product?.name }}</div>
            </h5>
            <!-- Star rating -->
            <div class="star-rating">
              <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
              <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
            </div>
            <!-- Product amount and cart icon -->
            <div class="price-and-cart">
              <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
              <span *ngIf="!ifAddedToCart(product)" (click)="addToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
              <span *ngIf="ifAddedToCart(product)" (click)="toCart()" class="cart-icon view">View</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of product cards -->
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
        </div>
          </div>
         <div class="col-lg-4" style="background: url('/assets/Images/Web-side-Banner2-380x752.png') no-repeat center center; background-size: cover;">
</div>

         
        </div>
  </div>
</section>



<!-- RECENTLY VIEW -->
<section class="flash-sales py-3" id="trending-products">
  <div class="container">
    <div class="py-2" style="display: flex; justify-content: space-between;">
  <div>
    <p class="home-heading">Recently Viewed</p>
  </div>
  <div>
    <p class="see-all mt-2" routerLink="/view-products/all">See All</p>
  </div>
    </div>
  
    <!-- Products -->
    <div class="row">
        <div class="col-lg-12">
  <div class="product-container">
    <div class="d-flex flex-nowrap mb-3">
      <!-- Product cards -->
      <div class="col-lg-auto" *ngFor="let product of products">
        <div class="card border-0  products me-4 mb-2">
          <!-- Placeholder background image -->
          <div class="card-img-top placeholder-image" [ngClass]="{ 'wishlist-bg': product.isWishlisted }">
            <!-- Love icon for wishlist -->
            <span class="love-icon mt-2" (click)="toggleWishlist(product)"><i class="bi bi-heart"></i></span>
            <!-- Product image -->
            <img (click)="viewProduct(product?._id)" [src]="product?.image" alt="Product Image">
          </div>
          <div class="card-body">
            <!-- Product name -->
            <h5 class="card-title">
              <div class="marquee" (click)="viewProduct(product?._id)">{{ product?.name }}</div>
            </h5>
            <!-- Star rating -->
            <div class="star-rating">
              <span class="bi bi-star-fill" *ngFor="let star of getStarsArray(product?.rating); let i = index"></span>
              <span class="bi bi-star" *ngFor="let emptyStar of getEmptyStarsArray(product?.rating); let i = index"></span>
            </div>
            <!-- Product amount and cart icon -->
            <div class="price-and-cart">
              <span class="product-amount">{{ product?.unit_price | currency: '₦' :'symbol':'1.0-0' }}</span>
              <span *ngIf="!ifAddedToCart(product)" (click)="addToCart(product)" class="cart-icon"><i class="bi bi-cart-fill"></i></span>
              <span *ngIf="ifAddedToCart(product)" (click)="toCart()" class="cart-icon view">View</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of product cards -->
    </div>
  </div>
  
  
  
  </div>
  
  
  
  
        </div>
    
    
  </div>
  </section>

  <section *ngIf="!userDetails" class="p-5 text-center" style="background: #0097A81A;
">
<p style="font-size: 16px;">Get personalized recommendation</p>
<div class="mx-auto">
  <button routerLink="/auth/sign-in" class="btn-modal-primary" style="padding: 13px 40px!important; font-size: 20px; font-weight: 600; border-radius: 35px!important;">Sign In</button>
</div>
<p class="new mt-3">New Customer? <span class="text-primary cursor-pointer" routerLink="/auth/sign-up">Get an account</span> </p>
  </section>

  <section class="py-5">
    <div class="">
      <div class="row gx-3 listed">
  <div class="col-lg-1"></div>
  <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
    <div class="border p-3">
      <!-- Content for Reasonable Prices -->
      <h6 class="title"><span><img src="/assets/Images/cart.png" class="me-1" alt=""></span>Free Delivery</h6>
      <p class="mb-0 px-2">Get your order delivered to your shop for free.</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
    <div class="border p-3">
      <!-- Content for Worldwide Shipping -->
      <h6 class="title"><span><img src="/assets/Images/secure.png" class="me-1" alt=""></span>100% Secure Payment</h6>
      <p class="mb-0 px-2">Pay securely, conveniently and safely.</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
    <div class="border p-3">
      <!-- Content for Best Ratings -->
      <h6 class="title"><span><img src="/assets/Images/quality.png" class="me-1" alt=""></span> Quality Guarantee</h6>
      <p class="mb-0 px-2">Experience the best quality on every item purchase.</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
    <div class="border p-3">
      <!-- Content for Help Center -->
      <h6 class="title"><span><img src="/assets/Images/saving.png" class="me-1" alt=""></span> Guaranteed Savings</h6>
      <p class="mb-0 px-2">Shop smarter and Save big.</p>
    </div>
  </div>
  <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
    <div class="border p-3">
      <!-- Content for Always Available -->
      <h6 class="title"><span><img src="/assets/Images/daily.png" class="me-1" alt=""></span>Daily offers</h6>
      <p class="mb-0 px-2">Look out for exciting offers and flash sales everyday!</p>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>

    </div>
  </section>
  
  

<app-footer></app-footer>
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Set a delay for the carousel to start cycling
    setTimeout(function () {
        $('#heroCarousel').carousel({
            interval: 4000, // Interval between slides (4 seconds)
            ride: 'carousel'
        });
    }, 4000); // Initial delay before the first slide (4 seconds)
});
</script>