 /* HERO SECTION */
 @import '/src//variables';
 .heroLeft h6 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #000000;
}

.heroLeft h5 {
    font-size: 72px;
    font-weight: 700;
    letter-spacing: 0em;
    color: white;
}
.heroLeft h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
}

.heroLeft p {

    font-size: 18px;
    font-weight: 400;
    color: #fff;


}

.heroLeft button {

    padding: 14px 40px;
    animation-duration: 0ms;
    background-color: var(--neutral-color);
    border-radius: 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}



.category .card{
    background: #EBEBEB;
    padding: 20px 10px 0 10px;
    border-radius: 5px;
    margin-bottom: 15px;

}
.category .card img{
    height: 80px;

}
// .category .row{
//     padding: 70px 130px 70px 130px;
// }
.category .card p{
font-size: 17px;
font-weight: 600;
line-height: 16.8px;
color: #000;
cursor: pointer;

}


.home-heading{
font-size: 39px;
font-weight: 600;
line-height: 38.4px;
text-align: left;
color: #000;

}

.see-all{
color: var(--primary-color);
font-size: 18px;
font-weight: 600;
line-height: 20px;
text-decoration: underline;
}
.see-all-white{
color: #fff;
font-size: 18px;
font-weight: 600;
line-height: 20px;
text-decoration: underline;
}


.flash-sales .card {
    width: 18rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.placeholder-image {
    height: 200px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cccccc6a;
    border-top: 1px solid #cccccc6a;
    margin-top: 7px;
    //  box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
}

.placeholder-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* or object-fit: contain; */
}

.love-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff; /* White background color */
    border-radius: 50%; /* Make it round */
    padding: 10px; /* Equal padding on all sides */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.love-icon i {
    color: #000; /* Black color for the icon */
    font-size: 17px; /* Adjust font size as needed */
    line-height: 1; /* Ensure icon is vertically centered */
}


.star-rating {
    color: #ffc107; /* Color for the star icons */
    margin-bottom: 10px;
}

.price-and-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-amount {
font-size: 22px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0.0038em;
color: var(--primary-color);

}

.cart-icon {
    
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.product-container {
    overflow-x: auto;
    white-space: nowrap;
  }
  .card-title{
    cursor: pointer;
  }
  .card-img-top{
    cursor: pointer;
  }

.cart-icon i{
    font-size: 24px;
}
.cart-icon .view{
    font-size: 15px!important;
}
.flash-sales .card-title{
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;

}

.deals{

}

.deals .deals-heading{
color: white;
font-size: 24px;
font-weight: 600;
line-height: 28.8px;

}

/* QUALITY SECTION */
.qualityRight h5 {

    font-size: 65px;
    font-weight: 700;
    color: #000;

}
.qualityRight h3 {

    font-size: 40px;
    font-weight: 700;
    color: #000;

}

.qualityRight p {

    font-size: 18px;
    font-weight: 400;
    color: #111111;

}

.qualityRight button {

    padding: 14px 60px;

}

.choose h5 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;

}

.discount {
    border-radius: 20px;
    background-color: #{$primary-color}1A;
}

.discount h5 {

    font-size: 40px;
    font-weight: 700;
    /* line-height: 67px; */
    letter-spacing: 0em;



}

.discount p {
    font-size: 18px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.02em;
}

.discount input {

    height: 50.5px;
    border-radius: 8px;
    border: 1px;
}

.discount input:focus {
    box-shadow: none;
    height: 50.5px;
    border-radius: 8px;
    border: 1px solid #41189a5a;

}

.discount label {
    font-size: 14px;
    font-weight: 400;
}

.discount ::placeholder {
    font-size: 13px;
    font-weight: 400;
}

.retail {
    background-image: url(/assets/Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: max-content;
    height: max-content; */
    display: flex;
    justify-content: center;
    align-items: center!important;
}
.retail-mobile {
   background-color: #{$primary-color};
   border-radius: 30px 30px 30px 30px !important;
}

.retail-mobile h5 {

   font-size: 40px;
   font-weight: 500;
   color: white;

}


.retail-mobile p {
   font-family: DM Sans;
   font-size: 16px;
   font-weight: 400;
   color: white;


}

.retail h5 {

    font-size: 48px;
    font-weight: 700;
    color: white;

}

.retail p {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    color: white;


}
.core{
   width: 80%;
   justify-content: center;
   margin: 0 auto!important;
}
.core h6{
color: white;
font-size: 20px;
font-weight: 700;
padding: 10px;
}
.core p{
   
   font-size: 15px;
   font-weight: 400;
   color: white;
   
   

}

.background-section {
   background-image: url(/assets/Images/background.jpg);
   background-size: cover;
   background-position: center;
   height: 50vh;
}
