
<form [formGroup]="form" (ngSubmit)="submit()">
<section *ngIf="!requestLoading && response && !errorFetching">

    <div class="pageRow row align-items-center mb-3 px-2">
        <div class="col-sm-6">
          <div class="page-name mt-2">Edit Product</div>

        </div>
        <div class="col-sm-6">
            <div class="d-none d-lg-block">
                <div class="btn-container">
                  <!-- <button class="cancel" type="button"  (click)="resetForm()"> <i class="bi bi-x mt-1"></i> Cancel </button> &nbsp; &nbsp; -->
                  <button class="add" type="submit">  Update Product</button>
                </div>
            </div>
        </div>
      </div>
    <div class="row">
        <div class="col-lg-8">
<section class="content container mb-3">
    <div class="py-3">

        <p class="content-heading">General Information</p>
        <div class="mb-2 slide-left">
            <label for="productName" class="content-label">Product Name</label>
            <input type="text" formControlName="name" id="productName" class="content-input {{
                                        isInvalid('name') ? 'error-input' : ''
                                      }}" placeholder="Enter product name">
                                       <small class="error-text mb-4" *ngIf="isInvalid('name')">
                                            {{ getErrorMessage('name', 'This field is required') }}
                                          </small>
          </div>
          <div class="mb-2 slide-right">
            <label for="description" class="content-label">Description</label>
            <textarea id="description" formControlName="description" class=" content-input {{
                                        isInvalid('description') ? 'error-input' : ''
                                      }}" placeholder="Enter description"></textarea>
            <small class="error-text mb-4" *ngIf="isInvalid('description')">
                                            {{ getErrorMessage('description', 'This field is required') }}
                                          </small>

        </div>
    </div>
</section>


<section class="content container mb-3">
  <div class="py-3">
    <p class="content-heading">Media</p>
    <label for="productName" class="content-label">Photo</label>
    <div class="mb-2 media-div zoom-in" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <div class="text-center py-4">
        <div class="row">
          <ng-container *ngFor="let image of images; let i = index">
            <div class="col-lg-4 col-md-4 col-6 mb-2">
              <div class="position-relative">
                <img src="{{ image }}" class="mb-2 img-fluid" alt="">
                <button title="Remove image" (click)="removeImage(i)" class="remove-image-button btn btn-link position-absolute top-0 end-0"><img style=" " src="/assets/Images/remove.png" alt=""></button>
                <p *ngIf="i == mainImageIndex" class="main-image-text position-absolute start-50 translate-middle">Main Image</p>
                <p *ngIf="i !== mainImageIndex" (click)="setMainImage(i)" class="set-image-text position-absolute start-50 translate-middle">As Main</p>
              </div>
            </div>
          </ng-container>
        </div>
        <p class="mb-4" *ngIf="images.length === 0">Drag and drop image here, or click add image</p>
        <p class="mb-4 mt-2" *ngIf="images.length > 0">Drag and drop image here, or click add more image</p>
        <!-- Hidden file input -->
        <input type="file" accept="image/*" (change)="addImages($event)" multiple style="display: none;" id="fileInput">
        <!-- Custom button to trigger file input -->
        <label for="fileInput" class="content-button center-button" style="width: max-content; cursor: pointer;"> <i class="bi bi-plus mt-1"></i> Add Image</label>
      </div>
    </div>
  </div>
</section>




<section class="content container mb-3">
    <div class="py-3">

        <p class="content-heading">Inventory</p>
        <div class="row">

            <div class="mb-2 col-lg-6 slide-left">
                <label for="sku" class="content-label">SKU</label>
                <input type="text" formControlName="sku" id="sku" class=" content-input {{
                                        isInvalid('sku') ? 'error-input' : ''
                                      }}" placeholder="Enter product SKU">

                                        <small class="error-text mb-4" *ngIf="isInvalid('sku')">
                                            {{ getErrorMessage('sku', 'This field is required') }}
                                          </small>
              </div>
              <div class="mb-2 col-lg-6 slide-right">
                <label for="quantity" class="content-label">Quantity</label>
                <input type="number"  [min]="1" id="quantity" formControlName="quantity" class=" content-input {{
                                        isInvalid('quantity') ? 'error-input' : ''
                                      }}" placeholder="Enter product Quantity">
                                       <small class="error-text mb-4" *ngIf="isInvalid('quantity')">
                                            {{ getErrorMessage('quantity', 'This field is required') }}
                                          </small>
            </div>
        </div>
        <div class="row">
             <div class="mb-2 slide-right">
                <label for="minquantity" class="content-label">Minimum Order Quantity</label>
                <input [min]="1" type="number" id="minquantity" formControlName="moq" class=" content-input {{
                                        isInvalid('moq') ? 'error-input' : ''
                                      }}" placeholder="Enter min. order Quantity">
                                       <small class="error-text mb-4" *ngIf="isInvalid('moq')">
                                            {{ getErrorMessage('moq', 'This field is required') }}
                                          </small>
            </div>
        </div>
    </div>
</section>

<section class="content container mb-3">
    <div class="py-3">

        <p class="content-heading">Pricing</p>
        <div class="mb-2 slide-left">
            <label for="price" class="content-label">Unit Price</label>
            <input  [min]="1" (keypress)="numberOnly($event)" type="number" id="price" formControlName="unit_price" class=" content-input {{
                                        isInvalid('unit_price') ? 'error-input' : ''
                                      }}" placeholder="Enter product unit price">

             <small class="error-text mb-4" *ngIf="isInvalid('unit_price')">
                                            {{ getErrorMessage('unit_price', 'This field is required') }}
                                          </small>
          </div>
          <div class="mb-2 slide-right">
            <label for="disPrice" class="content-label">Discounted Price</label>
                <input [min]="1" (keypress)="numberOnly($event)" type="number" formControlName="discounted_price" id="disPrice" class=" content-input {{
                                        isInvalid('discounted_price') ? 'error-input' : ''
                                      }}" placeholder="Enter product discount price">
                 <small class="error-text mb-4" *ngIf="isInvalid('discounted_price')">
                                            {{ getErrorMessage('discounted_price', 'This field is required') }}
                                          </small>
        </div>
    </div>
</section>

<!-- <section class="content container mb-3">
    <div class="py-3">

        <p class="content-heading">Variant</p>
       <button class="content-button zoom-in"> <i class="bi bi-plus mt-1"></i> Add Variant</button>
    </div>
</section> -->

        </div>


        <div class="col-lg-4">
            <section class="content container mb-3">
                <div class="py-3">
            
                    <p class="content-heading">Category</p>
                    <div class="mb-2 slide-right">
                        <label for="category" class="content-label">Product Category</label>
                        <select formControlName="category" class=" content-select {{
                                        isInvalid('category') ? 'error-input' : ''
                                      }}">
                            <option value="" selected  id="category">Select category</option>
                            <option *ngFor="let item of categories"  [value]="item?._id">{{item.name}}</option>
                        </select>
                         <small class="error-text mb-4" *ngIf="isInvalid('category')">
                                            {{ getErrorMessage('category', 'This field is required') }}
                                          </small>
                      </div>
                </div>

                <!-- <div class="btn-container-sm mobile-only py-3">
                    <button class="cancel" routerLink="/core/vendor/add-new-product"> <i class="bi bi-x mt-1"></i> Cancel </button> &nbsp; &nbsp;
                    <button class="add" routerLink="/core/vendor/add-new-product"> <i class="bi bi-plus mt-1"></i> Add Product</button>
                  </div> -->
            </section>
            <section class="content container mb-3">
                <div class="py-3">
            
                    <p class="content-heading">Status</p>
                    <div class="mb-2 slide-right">
                        <label for="status" class="content-label">Product Status</label>
                        <select formControlName="status" class=" content-select {{
                                        isInvalid('status') ? 'error-input' : ''
                                      }}">
                            <option value="" selected  id="status">Select Status</option>
                            <option value="inStock">In Stock</option>
                            <option value="outOfStock">Out Of Stock</option>
                        </select>
                         <small class="error-text mb-4" *ngIf="isInvalid('status')">
                                            {{ getErrorMessage('status', 'This field is required') }}
                                          </small>
                      </div>
                </div>

                <div class="btn-container-sm mobile-only py-3 mb-5">
                    <!-- <button (click)="resetForm()" type="button" class="cancel"> <i class="bi bi-x mt-1"></i> Cancel </button> &nbsp; &nbsp; -->
                    <button type="submit" class="add"> Edit Product</button>
                  </div>
            </section>


        </div>
    </div>
</section>

</form>

    <section class="content" *ngIf="requestLoading && !response && !errorFetching">
<div class="py-5 p-5 center">
    <div>

        <img src="/assets/Images/requestLoading.gif" alt="">
        <p class="loading-text text-center text-muted">Loading...</p>
    </div>
</div>
      </section >

      <section class="content center" *ngIf="!requestLoading && !response && errorFetching">
        <div class="py-5 ">
          <div class="py-3 text-center" >
            <img src="/assets/Images/oops.png" style="height: 200px;" alt="">
            <p class="loading-text  text-muted py-3">Could not display products. Click 'Refresh' to try again.
        </p>
            <p class="refresh" (click)="refresh()">Refresh <i class="bi bi-arrow-repeat"></i></p>
          </div>
        </div>
      </section>