<section class="auth">

    <div class="row" style="height: 100vh;">
        <div class="col-lg-6" style="background-image: url(/assets/Images/signUp.png); background-position: center; background-size: cover;">
            <section class="container">
                <div class="p-5">
                    <img routerLink="" src="/assets/Images/Color=White.png" alt="">
                    
                </div>
                <!-- New div to move text down -->
                <div  class="p-5 d-none d-lg-block" style="position: absolute; bottom: 30px;">
                    <div class="container">
                        <div class="bouncing-circle circle-1"></div>
                        <div class="bouncing-circle circle-2"></div>
                        <div class="bouncing-circle circle-3"></div>
                        <div style="height: 20px!important;"></div>
                        <h3 class="auth-heading mt-3 slide-left">Shop with us</h3>
                        <p class="auth-sub slide-bottom">
                            Join our community of savvy shoppers and unlock  <br> exclusive deals, personalized recommendations, and  <br> seamless shopping experiences.
                        </p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section style="margin:  0 auto;">
                <form [formGroup]="form" (ngSubmit)="register()" class="contain">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="p-lg-3">
                                    <h1 class="headings mt-3 slide-top">
                                        <span style="color:var(--primary-color);">Hi</span>&nbsp;<span style="color: black!important;"></span>There!
                                    </h1>
                                   
                                    <p class="text-muted">We're thrilled to have you on board. Get ready to embark on a seamless shopping experience tailored just for you.</p>
                                   <p *ngIf="userType != ''" class="text-center py-1" style="font-size: 18px; font-weight: 500;">You're about to sign up as a <span style="font-size: 18px; font-weight: 600;"> {{capitalizeFirstLetter(userType)}}</span> <br> <span style="font-weight: 600;" (click)="toggleModal('signUpModal', 'open')" class="text-primary cursor-pointer">Change Account Type</span></p>
                                    <div class="row">
                                    <div class="col-lg-6">
                                        <label for=""  class="px-2 mb-1{{
                                            isInvalid('firstName') ? 'red' : ''
                                          }}">First Name</label>
                                        <div class="auth-input slide-left">
                                            <input type="text" class="auth {{
                                                isInvalid('firstName') ? 'error-input' : ''
                                              }}"  aria-describedby="basic-addon1" formControlName="firstName" [ngClass]="{ 'is-invalid': isInvalid('firstName') }" placeholder="Your Name">
                                            <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('firstName')">
                                                {{ getErrorMessage('firstName', 'First Name is required') }}
                                              </div>
                                          
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <label for=""  class="px-2 mb-1{{
                                            isInvalid('lastName') ? 'red' : ''
                                          }}">Last Name</label>
                                        <div class="auth-input slide-left">
                                            <input type="text" class="auth {{
                                                isInvalid('lastName') ? 'error-input' : ''
                                              }}" aria-describedby="basic-addon1" formControlName="lastName" [ngClass]="{ 'is-invalid': isInvalid('lastName') }" placeholder="Your Name">
                                            <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('lastName')">
                                                {{ getErrorMessage('lastName', 'Last Name is required') }}
                                              </div>
                                         
                                          
                                        </div>
                                    </div>
                                   </div>
                                   
                                     <!-- Tab Switcher for Email and Phone -->
          <!-- <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': !signupWithPhone}" (click)="setSignupMethod('email')">Email</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': signupWithPhone}" (click)="setSignupMethod('phone')">Phone Number (WhatsApp)</a>
            </li>
          </ul> -->

          <!-- Conditional Email or Phone Number Input -->
          <div *ngIf="!signupWithPhone">
            <div>
              <label for="" class="px-2 mb-1{{ isInvalid('email') ? 'red' : '' }}">Email Address</label> 
              <label for="" style="color: var(--primary-color)!important; cursor: pointer;" (click)="toggleModal('methodModal', 'open')">Change</label>
            </div>
            <div class="auth-input slide-left">
              <i class="bi bi-envelope"></i>
              <input type="text" class="auth {{ isInvalid('email') ? 'error-input' : '' }}" aria-label="Email Address" aria-describedby="basic-addon1" formControlName="email" [ngClass]="{ 'is-invalid': isInvalid('email') }" placeholder="example@gmail.com">
              <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('email')">
                {{ getErrorMessage('email', 'Email is required') }}
              </div>
              <div class="invalid-feedback mb-4 px-3" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']">
                Please enter a valid email address
              </div>
            </div>
          </div>

          <div *ngIf="signupWithPhone">
              <div>
              <label for="" class="px-2 mb-1{{ isInvalid('phoneNumber') ? 'red' : '' }}">Phone Number (WhatsApp)</label> 
              <label for="" style="color: var(--primary-color)!important; cursor: pointer;" (click)="toggleModal('methodModal', 'open')">Change</label>
            </div>
            <div class="auth-input slide-left">
              <i class="bi bi-phone"></i>
              <input type="text" (keypress)="numberOnly($event)" class="auth {{ isInvalid('phoneNumber') ? 'error-input' : '' }}" aria-label="Phone Number" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': isInvalid('phoneNumber') }" placeholder="Enter WhatsApp number">
              <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('phoneNumber')">
                {{ getErrorMessage('phoneNumber', 'Phone number is required') }}
              </div>
            </div>
          </div>

                                   
                                   <!-- <label for=""  class="px-2 mb-1{{
                                        isInvalid('email') ? 'red' : ''
                                      }}">Email Address</label>
                                    <div class="auth-input slide-left">
                                        <i class="bi bi-envelope"></i>
                                       
                                        <input type="text" class="auth {{
                                            isInvalid('email') ? 'error-input' : ''
                                          }}" aria-label="Email Address" aria-describedby="basic-addon1" formControlName="email" [ngClass]="{ 'is-invalid': isInvalid('email') }" placeholder="example@gmail.com" aria-label="Email" aria-describedby="basic-addon1">
                                        <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('email')">
                                            {{ getErrorMessage('email', 'Email is required') }}
                                          </div>
                                          <div class="invalid-feedback mb-4 px-3" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']">
                                            Please enter a valid email address
                                        </div>
                                      
                                    </div> -->
                
                                    <label for=""  class="px-2 mb-1 {{
                                        isInvalid('password') ? 'red' : ''
                                      }}">Password</label>
                                    <div class="auth-input slide-right">
                                        <i class="bi bi-lock"></i>
                                        <input type="{{ passwordVisible ? 'text' : 'password' }}" class="auth {{
                                            isInvalid('password') ? 'error-input' : ''
                                          }}" formControlName="password" [ngClass]="{ 'is-invalid': isInvalid('password') }" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                                        <button class="btn text-center" type="button" id="togglePassword" (click)="togglePasswordVisibility()">
                                            <i class="bi" [ngClass]="{ 'bi-eye': !passwordVisible, 'bi-eye-slash': passwordVisible }"></i>
                                        </button>
                                        <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('password')">
                                            {{ getErrorMessage('password', 'Password is required') }}
                                          </div>
                                                                            </div>

                                    <label for=""  class="px-2 mb-1 {{
                                        isInvalid('confirmPassword') ? 'red' : ''
                                      }}">Re-type Password</label>
                                    <div class="auth-input slide-right">
                                        <i class="bi bi-lock"></i>
                                        <input type="{{ passwordVisible ? 'text' : 'password' }}" class="auth {{
                                            isInvalid('confirmPassword') ? 'error-input' : ''
                                          }}" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': isInvalid('confirmPassword') }" placeholder="Confirm your password">
                                        <button class="btn text-center" type="button" id="togglePassword" (click)="togglePasswordVisibility()">
                                            <i class="bi" [ngClass]="{ 'bi-eye': !passwordVisible, 'bi-eye-slash': passwordVisible }"></i>
                                        </button>
                                        <div class="invalid-feedback mb-4 px-3" *ngIf="isInvalid('confirmPassword')">
                                            {{ getErrorMessage('confirmPassword', 'Re-type your password') }}
                                          </div>
                     <small class="error-text mb-4" *ngIf="form?.get('confirmPassword')?.touched && form.get('password')?.value && form.get('confirmPassword')?.value && form.errors?.['passwordsMismatch']">
        Passwords do not match
      </small>
                                        </div>
                
                                  
                
                                    <button class="submit mt-2">Sign Up</button>
                
                                    <!-- Divider -->
                                    <!-- <div class="divider py-3">
                                        <hr class="or-divider">
                                        &nbsp; &nbsp;&nbsp; <span class="or-text mt-1">Or</span>&nbsp;&nbsp;&nbsp;
                                        <hr class="or-divider">
                                    </div> -->
                
                                    <!-- <button class="google mb-2">
                                        <img style="width: 25px; height: 25px;" src="/assets/Images/google (2).png" alt=""> Continue with Google
                                    </button>
                                    <button class="facebook mb-3">
                                        <img style="width: 25px; height: 25px;" src="/assets/Images/facebook.png" alt=""> Continue with Facebook
                                    </button> -->
                
                                    <p class="text-center sign-ups mt-4 mb-0">By signing up, you agree to the Terms of Service and Privacy Policy, including cookie use.</p>
                                    <p class="text-center sign">Have an account? <a style="color: var(--primary-color); font-size: 16px;" routerLink="/auth/sign-in">Sign in here</a></p>
                                
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </form>
                

            </section>
        </div>
    </div>
    

    <div id="signUpModal" class="modal">
  <div
    class="modal-center-content mx-auto pt-4 px-4 px-lg-5 pb-5"
    style="border-radius: 10px !important"
  >
    <div class="d-flex justify-content-end">

      <!-- <img 
        style="cursor: pointer"
        class=""
        (click)="toggleModal('signUpModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt=""
      /> -->
    </div>
            <p class="modal-heading text-center">Select Account Type</p>
   <div class="container-sec mt-2">
  <label class="option" [class.selected]="userType === 'customer'" (click)="setUserType('customer')">
    <div class="content">
      <img [src]="userType === 'customer' ? '/assets/Images/selected-retailer.svg' : '/assets/Images/retailer.png'" alt="customer">
      <p class="py-2">Customer</p>
    </div>
  </label>

  <label class="option" [class.selected]="userType === 'vendor'" (click)="setUserType('vendor')">
    <div class="content">
      <img [src]="userType === 'vendor' ? '/assets/Images/vendor.png' : '/assets/Images/not-active-vendor.svg'" alt="Vendor">
      <p class="py-2">Vendor</p>
    </div>
  </label>
</div>

<p *ngIf="userType === '' && submitType" class="text-danger text-center mt-2" style="font-size: 18px;">Please select an acount type to proceed</p>
<div class="d-flex justify-content-center">

    <button  (click)="continue()" class="btn-modal-primary mt-3" style="border-radius: 80px!important; padding: 13px 60px!important;">Continue</button>
</div>
  </div>
</div>



<div id="methodModal" class="modal" style="z-index: 1!important;">
  <div class="modal-center-content mx-auto pt-4 px-2 px-lg-5" style="border-radius: 10px !important;">
    <div class="d-flex justify-content-end px-4 px-lg-2">
      <img
        style="cursor: pointer"
        class=""
        (click)="toggleModal('methodModal', 'close')"
        src="/assets/Images/dismiss.svg"
        alt="Close"
      />
    </div>
    
    <div class="modal-body text-center">
      <p class="modal-heading text-center">Choose Your Preferred Contact Method</p>
      <p class="mb-4">
        
        This will be used to contact you about updates and important notifications.
      </p>

      <!-- Selectable Cards for Email and WhatsApp -->
      <div class="row mb-4">
        <div class="col-6">
          <div class="card option-card" (click)="setSignupMethod('email')"
          [class.selected]="!signupWithPhone">
            <div class="card-body text-center">
              <i class="bi bi-envelope" style="font-size: 2rem; color: #EA4335;"></i>
              <h5>Email<br>Address</h5>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card option-card" (click)="setSignupMethod('phone')"
          [class.selected]="signupWithPhone">
            <div class="card-body text-center">
              <i class="bi bi-whatsapp" style="font-size: 2rem; color: #25D366;"></i>
              <h5>WhatsApp<br>Number</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mb-5">
        <button
          (click)="fromMethod()"
          class="btn-modal-primary"
          style="border-radius: 80px!important; padding: 13px 60px!important; width: 100%!important;"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
