
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
@import './_variables';

* {
    font-family: 'DM Sans', sans-serif !important;
    scroll-behavior: smooth!important;
}

:root {
    --primary-color: #0097A8;
    --secondary-color: #FFD865;
    --neutral-color: #ED8939;

  }
  
/* PRIMARY COLOR */
.paragraph-primary {
    color: #000000a4;
    font-size: 16px;
    font-weight: 500;
}
.heading{
font-size: 54px;
font-weight: 600;
color: $primary-color;
}
.text-primary {
    color:var(--primary-color) !important;
}
.text-neutral {
    color: var(--neutral-color) !important;
}


.error-input {
  border: 2px solid red !important;
  background-color: #ffecfc !important;
}

.modal-heading{
font-size: 20px;
font-weight: 600;
color: #000;

}
.btn-primary,
.btn-primary-nav {
    background-color: $primary-color !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 14px 60px !important;
    border-radius: 8px !important;
}

.btn-save {
    background-color: $primary-color !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 8px !important;
}
.btn-modal-primary {
    background-color: $primary-color !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 14px !important;
    border-radius: 8px !important;
    width: max-content!important;
}
.btn-curve-primary {
    background-color:var(--primary-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 14px !important;
    border-radius: 50px !important;
  
}
.btn-modal-secondary {
    background-color:var(--secondary-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important;
    padding: 14px !important;
    font-weight: 500;
    border-radius: 8px !important;
    width: max-content!important;
}
.btn-curve-secondary {
    background-color:var(--secondary-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important;
    padding: 14px !important;
    font-weight: 500;
    border-radius: 50px !important;
}

.main-btn{
  padding: 15px, 20px!important;
  background-color: var(--primary-color);
  border-radius: 8px !important;
font-size: 14px!important;
font-weight: 400!important;
color: #fff!important;

}
.btn-primary-submit{
    background-color:var(--primary-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 10px 0px !important;
    width: 100%;
    border-radius: 8px !important;
}
.cart-btn{
    background-color:var(--primary-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 10px 10px !important;
    // width: 100%;
    border-radius: 8px !important;
    cursor: pointer;
}
.remove-btn-primary{
    background-color:var(--primary-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 15px 20px !important;
    // width: 100%;
    border-radius: 8px !important;
    cursor: pointer;
}
.form-check-input[type=checkbox] {
box-shadow: none!important;

}
.remove-btn-secondary{
    background-color:var(--secondary-color) !important;
    border: none !important;
    box-shadow: none !important;
    color: black !important;
    font-weight: 600;
    padding: 15px 50px !important;
    // width: 100%;
    border-radius: 8px !important;
    cursor: pointer;
}
.btn-primary-nav {
    padding: 12px 24px !important;
}

.btn-primary:hover,
.btn-primary-nav:hover {
    background-color: #{$primary-color}B2 !important;
}

.bg-primary {
    background-color: $primary-color !important;
    border: none !important;
    box-shadow: none !important;
}


.btn-primary-outline{
    border: 1px solid $primary-color!important;
    box-shadow: none !important;
    color:  #000 !important;
    padding: 8px 12px !important;
    border-radius: 8px !important;
    font-weight: 500;
    background: transparent !important;
}
/* END OF PRIMARY COLOR */

/* SECONDARY COLOR */
.text-secondary {
    color:var(--secondary-color) !important;
}

.btn-secondary,
.bg-secondary {
    background-color: $secondary-color !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 14px 60px !important;
    border-radius: 8px !important;
}

.btn-secondary:hover {
    background-color: $secondary-color !important;
}

/* END OF SECONDARY COLOR */

/* Overflow */
::-webkit-scrollbar {
  width: 5px!important;
    height: 5px!important;
    /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color:var(--primary-color) !important;
    /* Set the color of the scrollbar thumb */
    height: 2px!important;
    border-radius: 10px;
    /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the color of the scrollbar track */
}

.form-control:focus {
    box-shadow: none !important;
}
.form-check-input {
    /* Increase the size of the radio button */
    transform: scale(1.5)!important;
    margin-right: 8px; /* Add some spacing between the radio button and label */
  }
  
  /* Style for the selected radio button (pink color) */
  .form-check-input:checked {
    background-color: var(--primary-color)!important; /* Change to your preferred color */
    border-color: white!important; /* Change to your preferred color */
  }
  .small-checkbox:checked {
    background-color: var(--primary-color)!important; /* Change to your preferred color */
    border-color: white!important; /* Change to your preferred color */
  }
@media (min-width: 992px) {
    .mobile-only {
        display: none !important;
    }

  
    
  
    
}
.card-content{
    box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
background-color: white !important;
border-radius: 11px;

}
@media (max-width: 700px) {
.card-content{
    box-shadow: 0px 3.67px 27.55px 0px #2E2D740D;
background-color: white !important;
border-radius: 11px;
padding: 30px;
}
}
.dropdown-item {
    color: #848484;
    padding: 10px;  /* Add padding for better spacing */
    display: block; /* Ensure items are displayed as block elements */
}

.dropdowns {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdowns a {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: max-content;
    font-size: 12px;
    z-index: 1000;  /* Increased z-index */
    border-radius: 9px;
    top: -65px; /* Adjust to position correctly below the trigger */
    right: 0;
    box-shadow: 0px 0px 20px 0px #00000026;
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;  /* Add vertical scrollbar if needed */
    white-space: nowrap; /* Prevent items from wrapping */
}

.info {
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.dropdowns:hover .dropdown-content {
    display: block;
}



.btn-container-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  button {
    margin-left: 10px !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    padding: 10px 20px !important;
    border-radius: 8px !important;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .add {
    background-color: var(--primary-color) !important;
  }

  .cancel {
    padding: 10px 20px !important;
    border-radius: 8px !important;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
    border: 2px solid #858D9D !important;
    color: #858D9D !important;
    background-color: #fff !important;
  }

  .reset {
    background-color: var(--secondary-color) !important;
  }
}
/* Media query for large, medium, and extra-large screens */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .large-medium-only {
     display: none;
  }


 
  
  
}

.scrollLeft {
    background: #F1F1F1 !important;
    color: black !important;
    font-weight: 800;
}

.scrollRight {
    background: $secondary-color !important;
    color: white !important;
    font-weight: 800;
}
.w-40{
    width: 40%!important;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.ngx-pagination a,
.ngx-pagination button,
.ngx-pagination li {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
   border-radius: 6px!important;
  background: #0097a810 !important;
  color: var(--primary-color) !important;
  cursor: default;
}


.ngx-pagination .current {
  // padding: 15px;
  font-size: 16px;
  font-weight: 700;
   border-radius: 6px;
  background: var(--primary-color) !important;
  color: #fff !important;
  cursor: default;
  

}

// SWEET ALERT STYLE

.swal2-popup {
    width: 410px!important;
    border-radius: 20px !important;
    padding: 20px !important;
  }

  /* Style the text inside the alert */
.swal2-title {
    font-size: 24px;
    color: #333; 
  }
  
  .swal2-content {
    font-size: 16px; 
    color: #555; 
  }
  
  /* Style the buttons */
  .swal2-confirm {
    background-color: var(--primary-color)!important;
    color: #fff; 
    box-shadow: none !important;
    border: none!important;
     margin-bottom: 15px !important;
  }
  
  .swal2-cancel {
    background-color: var(--secondary-color)!important; 
    color: #fff!important;
    box-shadow: none !important;
    border: none!important;
    font-weight: 500!important;
    margin-bottom: 15px !important;
  }
  
  
  /* Style the icon */
  .swal2-icon {
// color: var(--primary-color)!important;
background-color: var(--primary-color)!important;
border-color: #fff!important;
color: white!important;
  }
// END OF SWEET ALERT STYLE
.export {
    background-color: #000000c2 !important;
    color: white !important;
    padding: 6px, 12px, 6px, 12px !important;
    border-radius: 8px;
    gap: 8px;
    font-size: 13px !important;
  }
  .export-primary {
    background-color: var(--primary-color) !important;
    color: white !important;
    padding: 6px, 12px, 6px, 12px !important;
    border-radius: 8px;
    gap: 8px;
    font-size: 14px !important;
  }
  
  .export:focus {
    background-color: #000 !important;
    color: white !important;
    padding: 6px, 12px, 6px, 12px !important;
    border-radius: 8px !important;
    gap: 8px !important;
  }
  
  .export:active {
    background-color: #000 !important;
    color: white !important;
    padding: 6px, 12px, 6px, 12px !important;
    border-radius: 8px !important;
    gap: 8px !important;
  }

// TABLE STYLING

 .table th, td {
    vertical-align: middle;
    text-transform: none!important;
    border: 1px solid #F0F1F3!important;
  }
  // .table{
  //   box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  //   border-radius: 15px!important;
  // }
  .table th {
    background: #0097A81A!important;
    border-left: 2px solid #fff!important;
    border-right: 2px solid #fff!important;
    font-size: 14px!important;
    font-weight: 600!important;
    letter-spacing: 0.005em;
    // color: #1D1F2C;
    color: var(--primary-color)!important;
    padding: 10.53px 20.21px!important;
    animation: slideLeft 0.8s ease forwards;
  }
   .details-head {
    background: #0097A81A!important;
    border-left: 2px solid #fff!important;
    border-right: 2px solid #fff!important;
    font-size: 14px!important;
    font-weight: 600!important;
    letter-spacing: 0.005em;
    // color: #1D1F2C;
    color: var(--primary-color)!important;
    padding: 10.53px 20.21px!important;
    animation: slideLeft 0.8s ease forwards;
  }
  
  .table td {
   animation: slideRight 0.8s ease forwards;
    padding: 10px 20.21px;
    gap: 7.35px;
    font-size: 14px!important;
    font-weight: 400;
    letter-spacing: 0.005em;
    border: 0px;
    border-bottom: 0.92px solid #F0F1F3;
  }

 .table .action-icons {
    display: flex;
    width: 20px;
    height: 20px;
    // justify-content: space-between;
  }

.search-input{
border: 1px solid #E0E2E7;
padding: 8px 12px 8px 12px;
border-radius: 8px; 
width: 100%;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
color: #858D9D;

}
.search-input:focus{
border: 1px solid #E0E2E7;
padding: 8px 12px 8px 12px;
border-radius: 8px; 
width: 100%;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
color: #858D9D;

}

  .center {
    justify-content: center;
    display: flex;
    align-items: center;
  
    .refresh {
      color: var(--primary-color) !important;
      cursor: pointer;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      text-decoration: underline;
      // background-color: var(--neutral-color);
    }
    i{
      font-size: 23px;
    }
  }

  .content {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      padding: 5px 30px !important;
      border-radius: 12px !important;
      background-color: white !important;
    }


  .content-heading{
font-size: 18px;
font-weight: 500;
letter-spacing: 0.005em;
color: #1A1C21;
  }

  .content-input {
    width: 100%;
    height: 45px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #E0E2E7;
    background: #F9F9FC;
    transition: border-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
  }
  .content-input::placeholder {
    color: #858d9d;
    font-size: 14px;
    font-weight: 400;
  }

.ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-button[_ngcontent-ng-c4081865319] {
        width: 100%;
    height: 45px!important;
    padding: 8px 12px!important;
    border-radius: 8px!important;
    border: 1px solid #E0E2E7!important;
    background: #F9F9FC!important;
    transition: border-color 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease!important;
}
.ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .selected-items.selected-items[_ngcontent-ng-c4081865319] .selected-item[_ngcontent-ng-c4081865319] {
    background-color: var(--primary-color)!important;
    color: #fff!important;
    margin-bottom: 0px!important;
}
  .content-select {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #E0E2E7;
    color: #858d9d;
    font-size: 15px!important;
    font-weight: 400;
  }

  .ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .available-items[_ngcontent-ng-c4081865319] .available-item[_ngcontent-ng-c4081865319], .ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .available-items[_ngcontent-ng-c4081865319] .selected-item[_ngcontent-ng-c4081865319], .ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .selected-items[_ngcontent-ng-c4081865319] .available-item[_ngcontent-ng-c4081865319], .ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .selected-items[_ngcontent-ng-c4081865319] .selected-item[_ngcontent-ng-c4081865319] {
    font-size: inherit;
    cursor: pointer;
    display: block;
   padding: 8px 12px!important;
    // border-radius: 8px!important;
    border-bottom: 1px solid #E0E2E7!important;
    color: #858d9d!important;
    font-size: 15px!important;
    font-weight: 400!important;
    white-space: normal;
}
/* Add hover styles */
.ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .available-items[_ngcontent-ng-c4081865319] .available-item[_ngcontent-ng-c4081865319]:hover, 
.ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .available-items[_ngcontent-ng-c4081865319] .selected-item[_ngcontent-ng-c4081865319]:hover, 
.ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .selected-items[_ngcontent-ng-c4081865319] .available-item[_ngcontent-ng-c4081865319]:hover, 
.ngx-dropdown-container[_ngcontent-ng-c4081865319] .ngx-dropdown-list-container[_ngcontent-ng-c4081865319] .selected-items[_ngcontent-ng-c4081865319] .selected-item[_ngcontent-ng-c4081865319]:hover {
  font-size: inherit;
  cursor: pointer;
  display: block;
  padding: 8px 12px!important;
  border-bottom: 1px solid #E0E2E7!important;
  color: #fff!important;
  font-size: 15px!important;
  font-weight: 400!important;
  white-space: normal;
   color: #fff;
  background-color: var(--neutral-color);
}
  .content-select:focus {
    outline: none;
    cursor: pointer!important;
    border-color: #b3b5ba;
    transform: scale(1.03);
  }
  

.ngx-dropdown-item-selected {
  background: green !important;
  color: white !important;
}

  .content textarea {
    height: 100px;
  }
  .content-input:hover {
    border-color: #b3b5ba;
  }
  
  .content-input:focus {
    outline: none;
    border-color: #b3b5ba;
    transform: scale(1.02);
  }
  
.content-label{
font-size: 14px;
font-weight: 500;
letter-spacing: 0.005em;
color: #4D5464;
  }

  .content-button{
padding: 10px 14px;
border-radius: 8px;
background: #0199A41A;
color: var(--primary-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.005em;
 }
  .center .loading-text{
    font-size: 20px;
    font-weight: 600;
  }

  .center-button {
    display: block;
    margin: 0 auto;
  }
  
.table-responsive{
  background-color: white!important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 0 0 15px 15px!important;
}
  button {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out!important;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  .pageRow {
    .page-name {
      // animation: slideTop 0.8s ease forwards;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0.005em;
      display: flex;
      animation: slideTop 0.8s ease forwards;
      align-items: center!important;
      height: 100%;
    }
  
    .btn-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 10px;
  
      button {
        margin-left: 10px!important;
        border: none !important;
        box-shadow: none !important;
        color: white !important;
        padding: 10px 20px !important;
        border-radius: 8px !important;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out!important;
      
        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
      
      .add {
        @extend button;
        background-color:var(--primary-color) !important;
      }
      
      .cancel {
        @extend button;
        border: 2px solid #858D9D!important;
        color: #858D9D!important;
        background-color: #fff !important;
      }
      
      .reset {
        @extend button;
        background-color: var(--secondary-color) !important;
      }
      
    }
    .bi{
      font-size: 20px!important;
      font-weight: 900;
    }

  }

   .btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center !important;;
  
      button {
        margin-left: 10px!important;
        border: none !important;
        box-shadow: none !important;
        color: white !important;
        padding: 10px 20px !important;
        border-radius: 8px !important;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out!important;
      
        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
      }
      
      .add {
        @extend button;
        background-color:var(--primary-color) !important;
      }
      
      .cancel {
        @extend button;
        border: 2px solid #858D9D!important;
        color: #858D9D!important;
        background-color: #fff !important;
      }
      
      .reset {
        @extend button;
        background-color: var(--secondary-color) !important;
      }
      
    }

  .edit-text{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px !important;
    cursor: pointer;
    text-align: center;
  }

  .table-title {
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    color: #000000ba !important;
  }
  
  .no-data {
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #7c7c7c !important;
  }
  
  .showing {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #7c7c7c !important;
  }
// END OF TABLE STYLING


/* Media query for mobile devices */



// ANIMATION
/* Animation for sliding left */
.slide-left {
  animation: slideLeft 0.8s ease forwards;
}

/* Animation for sliding right */
.slide-right {
  animation: slideRight 0.8s ease forwards;
}

/* Animation for sliding top */
.slide-top {
  animation: slideTop 0.8s ease forwards;
}

/* Animation for sliding bottom */
.slide-bottom {
  animation: slideBottom 0.8s ease forwards;
}

/* Animation for zooming */
.zoom-in {
  animation: zoomIn 0.8s ease forwards;
}

/* Animation for fading in */
.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

/* Animation for fading out */
.fade-out {
  animation: fadeOut 0.8s ease forwards;
}

@keyframes slideLeft {
  from {
      opacity: 0;
      transform: translateX(-50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideTop {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideBottom {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0.5);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.error-text{
  color: red;
  font-size: 15px !important;
  font-weight: 400;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  justify-content: center;
  align-items: center;
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-center-content, .modal-center-custom  {
  position: absolute;
  animation: slideTop 0.8s ease forwards;
  background-color: #fefefe;
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  border: none;
  border-radius: 5px;
  width: 90% !important; /* Could be more or less, depending on screen size */
}
@media screen and (min-width: 768px) {
  .modal-center-content {
      width: 60% !important; 
    }
}
@media screen and (min-width: 992px) {
  .modal-center-content {
      width: 32% !important; 
    }
}

.nsm7Bb-HzV7m-LgbsSe.MFS4be-JaPV2b-Ia7Qfc {
    background-color: #202124!important;
    color: #fff!important;
    height: 50px!important;
    // border-radius: 14px!important;
    padding: 10px 40px!important;
    // width: 100%!important;
}



.product-container{
    overflow-x: auto;
  white-space: nowrap;

.card{
  max-width: 276px!important;
  margin-bottom: 5px!important;
  // border-radius: 10px!important;
}
  .placeholder-image {
  height: 200px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc6a;
  border-top: 1px solid #cccccc6a;
  margin-top: 7px;
}

.placeholder-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.wishlist-bg {
  background-color: #ffc107!important;
}

.love-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.love-icon i {
  color: #000;
  font-size: 17px;
  line-height: 1;
}

.star-rating {
  color: #ffc107;
  margin-bottom: 10px;
}

.price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-amount {
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.0038em;
  color: var(--primary-color);
}

.cart-icon {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.marquee {
  white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  display: block!important;
  max-width: 100%;
  position: relative!important;
}
.card-title{
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;

}
.card-title:hover .marquee {
  animation: marquee 5s linear infinite;
  overflow: visible!important;
  text-overflow: clip!important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.products{
     box-shadow: 0px 0px 5px 0px #0000001A;
}
}

.product-container-custom {
  overflow-x: hidden; /* No horizontal scroll */
}

.card {
  max-width: 100%!important;
  margin-bottom: 5px!important;
}

.placeholder-image {
  height: 200px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc6a;
  border-top: 1px solid #cccccc6a;
  margin-top: 7px;
}

.placeholder-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.wishlist-bg {
  background-color: #ffc107!important;
}

.love-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.love-icon i {
  color: #000;
  font-size: 17px;
  line-height: 1;
}

.star-rating {
  color: #ffc107;
  margin-bottom: 10px;
}

.price-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-amount {
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.0038em;
  color: var(--primary-color);
}

.cart-icon {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.marquee {
  white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  display: block!important;
  max-width: 100%;
  position: relative!important;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-title:hover .marquee {
  animation: marquee 5s linear infinite;
  overflow: visible!important;
  text-overflow: clip!important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.products {
  box-shadow: 0px 0px 5px 0px #0000001A;
}


