<header class="bg-surface-primary border-bottom d-none d-lg-block sticky-top  head" style="z-index: 998;">
    <div class="container-fluid">
      <div class="mb-npx py-3">
        <div class="row align-items-center">
          <!-- Title -->
          <div class="col-sm-6 col-12">
            <h5 class="mb-0 px-5 heading" style="font-weight: 600;">
             Welcome, {{ userDetails?.firstName }} <br> <span>{{formattedDate}}</span>
            </h5>
          </div>
  
          <!-- User Initials, Notifications, and Logout -->
          <div class="col-sm-6 col-12 text-sm-end">
            <div class="navbar-user " style="display: flex; justify-content: end; align-items: center; gap: 40px; position: relative;">
  <input type="text" class="form-control w-80" name="" placeholder="search Anything..." id="">
  
              <!-- Notification Bell with Number -->
              <div class="notification-icon">
                <i class="bi bi-bell"></i>
                <span class="badge bg-danger">3</span> 
              </div>
  
            
  
              <!-- Logout Icon -->
              <i (click)="logout()" class="bi bi-box-arrow-right" style="cursor: pointer;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  