



  <app-state-handler 
 [isLoading]="loading" 
  [hasError]="errorFetching" 
  [dataAvailable]="response"
  (retry)="getPostByID()"
  name="post"
  >
  

  <form [formGroup]="form ">
<section>
    <div class="pageRow row align-items-center mb-3 px-2">
        <div class="col-sm-6">
          <div class="page-name mt-2">Edit Post</div>

        </div>
        <div class="col-sm-6">
            <div class="d-none d-lg-block">
                <div class="btn-container">
                  <!-- <button class="cancel" type="button"  (click)="resetForm()"> <i class="bi bi-x mt-1"></i> Clear </button> &nbsp; &nbsp; -->
                  <button (click)="submit();" class="add" type="submit"> Update Post</button>
                </div>
            </div>
        </div>
      </div>
    <div class="row">
        <div class="col-lg-8">
<section class="content container mb-3">
    <div class="py-3">

        <p class="content-heading">General Information</p>
        <div class="mb-2 slide-left">
            <label for="title" class="content-label">Post Title</label>
            <input type="text" formControlName="title" id="title" class="content-input {{
                                        isInvalid('title') ? 'error-input' : ''
                                      }}" placeholder="Enter post title">
                                       <small class="error-text mb-4" *ngIf="isInvalid('title')">
                                            {{ getErrorMessage('title', 'This field is required') }}
                                          </small>
          </div>
           <!-- <div class="mb-2 slide-right">
    <label for="content" class="content-label">Content</label>
    <angular-editor
      formControlName="content"
      [config]="editorConfig"
      placeholder="Enter content"
    ></angular-editor>
   <small class="error-text mb-4" *ngIf="isInvalid('content')">
    {{ getErrorMessage('content', 'This field is required') }}
  </small>
  </div> -->
  
      <div class="mb-2 slide-right">
  <label for="content" class="content-label">Content</label>
  <textarea (input)="autoResize($event)" rows="3" id="content" formControlName="content" class="content-input {{
                    isInvalid('content') ? 'error-input' : ''
                  }}" placeholder="Enter content"  ></textarea>
  <!-- <textarea  id="content" formControlName="content" class="content-input {{
                    isInvalid('content') ? 'error-input' : ''
                  }}" placeholder="Enter content"  ></textarea> -->
  <small class="error-text mb-4" *ngIf="isInvalid('content')">
    {{ getErrorMessage('content', 'This field is required') }}
  </small>
</div>

    </div>
</section>


<section class="content container mb-3">
  <div class="py-3">
    <p class="content-heading">Media</p>
    <label for="productName" class="content-label">Photo</label>
    <p *ngIf="images.length === 0 && submitted" class="error-text">Upload at least one image for this post</p>
    <div class="mb-2 media-div zoom-in" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <div class="text-center py-4">
        <div class="row">
          <ng-container *ngFor="let image of images; let i = index">
            <div class="col-lg-4 col-md-4 col-6 mb-2">
              <div class="position-relative">
                <img src="{{ image }}" class="mb-2 img-fluid" alt="">
                <button title="Remove image" (click)="removeImage(i)" class="remove-image-button btn btn-link position-absolute top-0 end-0"><img style=" " src="/assets/Images/remove.png" alt=""></button>
                <p *ngIf="i == mainImageIndex" class="main-image-text position-absolute start-50 translate-middle">Main Image</p>
                <p *ngIf="i !== mainImageIndex" (click)="setMainImage(i)" class="set-image-text position-absolute start-50 translate-middle">As Main</p>
              </div>
            </div>
          </ng-container>
        </div>
        <p class="mb-4" *ngIf="images.length === 0">Drag and drop image here, or click add image</p>
        <p class="mb-4 mt-2" *ngIf="images.length > 0">Drag and drop image here, or click add more image</p>
        <!-- Hidden file input -->
        <input type="file" accept="image/*" (change)="addImages($event)" multiple style="display: none;" id="fileInput">
        <!-- Custom button to trigger file input -->
        <label for="fileInput" class="content-button center-button" style="width: max-content; cursor: pointer;"> <i class="bi bi-plus mt-1"></i> Add Image</label>
      </div>
    </div>
  </div>
</section>


        </div>


        <div class="col-lg-4">
            <section class="content container mb-3">
                <div class="py-3">
            
                    <p class="content-heading">Category</p>
                    <div class="mb-2 slide-right">
                        <label for="category" class="content-label">Category</label>
                        <select formControlName="category" class=" content-select {{
                                        isInvalid('category') ? 'error-input' : ''
                                      }}">
                            <option value="" selected  id="category">Select category</option>
                            <option *ngFor="let item of categories"  [value]="item">{{item}}</option>
                        </select>
                         <small class="error-text mb-4" *ngIf="isInvalid('category')">
                                            {{ getErrorMessage('category', 'This field is required') }}
                                          </small>
                      </div>
                </div>

            </section>

     <section class="content container mb-3">
  <div class="py-3">
    <div class="d-flex justify-content-between">
      <p class="content-heading">Tags</p>
    </div>
    <div *ngIf="tags?.length > 0">
      <div class="d-flex flex-wrap">
        <div *ngFor="let tag of tags" class="tag-container m-1 mb-1">
          <span class="tag-text">{{ tag }}</span>
          <button type="button" class="btn btn-sm btn-danger tag-remove" (click)="removeTag(tag)">x</button>
        </div>
      </div>
    </div>
    <div class="mt-3">
        <label for="tags" class="content-label">Tags (Optional)</label>
        <div class="d-flex">
            <input 
              (blur)="addTagMode = false" id="tags"
              placeholder="Enter tag and press Enter"
              class="content-input "
              formControlName="tag"  
            />
            <p style="background-color: var(--primary-color); color: white;" class="btn mt-1" (click)="addTag();">Add</p>
        </div>
    </div>
  </div>
</section>





           <section class="content container mb-3">
  <div class="py-3">
    <p class="content-heading">Status</p>
    <div class="mb-2 slide-right">
      <label for="status" class="content-label">Status</label>
      <select formControlName="status" class="content-select {{
                      isInvalid('status') ? 'error-input' : ''
                    }}">
        <!-- <option value="" selected id="status">Select Status</option> -->
        <option selected value="publish">Publish</option>
        <option value="draft">Draft</option>
      </select>
      <small class="error-text mb-4" *ngIf="isInvalid('status')">
        {{ getErrorMessage('status', 'This field is required') }}
      </small>
    </div>
    <div *ngIf="form.get('status')?.value === 'draft'" class="alert alert-warning mt-2">
      The post will be saved but not published yet until the status is changed to active or publish.
    </div>
  </div>
</section>

  <section class="content container mb-3">
  <div class="py-3">
    <div class="d-flex justify-content-between">
      <p class="content-heading">Post Thumbnail</p>
    </div>
  </div>
  <div *ngIf="images?.length">
    <img [src]="images[0]" class="mb-2 img-fluid" alt="Post Thumbnail" style="max-height: 320px; width: 100%;">
  </div>
  <div *ngIf="!images?.length" >
    <p class="text-muted p-4">No image uploaded.</p>
  </div>
  <div class="btn-container-sm mobile-only py-3 mb-4">
    <!-- <button (click)="resetForm()" type="button" class="cancel"> <i class="bi bi-x mt-1"></i> Clear </button> &nbsp; &nbsp; -->
    <button (click)="submit()" type="button" class="add"> <i class="bi bi-plus mt-1"></i> Update Post</button>
  </div>
</section>



        </div>
    </div>
</section>

</form>
  </app-state-handler>