<section class="seller-dashboard">
<div class="row">
    <div class="col-lg-9">

        <div class="row px-3">
            <div class="col-lg-6">
                <div class="card">
                  <img src="" alt="">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <div class="text-warning">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="btn btn-primary pull-right"></a>
                  </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                  <img src="" alt="">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <div class="text-warning">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="btn btn-primary pull-right"></a>
                  </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-lg-3 card" style="height: 80vh;">
       
    </div>
</div>
</section>
