<!-- Footer -->
<footer class="text-center text-lg-start text-sm-center bg-primary text-white">


    <!-- Section: Links  -->
    <section class="py-5 footer-section">
        <div class="container text-center text-md-start py-2 mt-2">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <img src="/assets/Images/Color=White.png" class="mb-3" alt="">
                    <!-- <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Company name
            </h6> -->
                    <p>
                        Supplya helps retailers and dropshippers source and sell consumer goods seamlessly, fast and
                        safely.
                    </p>

                    <div>                       
                    </div>
                    <h6 class=" mb-4">Download App</h6>
                    <img src="/assets/Images/download buttons.png" alt="">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="  mb-4">
                        About Supplya
                    </h6>
                    <p routerLink="/about-us">
                        About Us
                    </p>
                    <p routerLink="/contact-us">
                     Contact Us
                    </p>
                    <p routerLink="/refund-policy">
                    Refund Policy
                    </p>
                    <p routerLink="/terms-condition">
                        Term & Conditions
                    </p>
                    <p routerLink="/privacy-policy">
                        Privacy Policy
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="  mb-4">
                        Resources
                    </h6>
                    <p>
                       Report a Product
                    </p>
                    <p>
                    Refund Policy
                    </p>
                    <p>
                        Become a Seller
                    </p>
                    <p>
                        SupplyaPAY
                    </p>
                    <p>
                        Become a Partner
                    </p>
                 

                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="  mb-4">
                        More Links
                    </h6>
                    <p>
                      Order Tracking
                    </p>
                    <p>
                    Payment Methods
                    </p>
                    <p routerLink="/faq">
                    FAQs
                    </p>
                  
                 

                </div>

            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025); border-top: 1px solid #ffffff47;">
        © 2023 Copyright:
        <a class="text-reset text-decoration-none text-secondary fw-bold">Supplya.shop</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->